{% extends "ivc_website/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}


<!--<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Title</title>
    <link rel="stylesheet" href="../../../media/members/css/all.min.css">
    <link rel="stylesheet" href="../../../media/members/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="../../../media/members/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../../../media/members/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../../../media/members/css/style.css">
    <!--<link rel="stylesheet" href="{% static 'ivc_website/css/sty;e.css' %}">-->

<!--</head>
<body>-->

<div class="main-project">
    <div class="t-header">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
                <div class="desc-header">
                    <h1 class="title_page text-center">MEMBERS</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container">
            <section class="card-members">

                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-12 mt-2 p-3">
                        <div class="content-inner">
                            <div class="content-front">
                                <div class="card-member">
                                    <img class="background-space img-fluid" src="../../../media/members/img/space-back.png" alt="">
                                    <div class="avatar ">
                                        <div>
                                            <div>
                                                <div>
                                                    <img src="../../../media/members/img/member/salmanpour.png" class="img-fluid" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card_body p-4">
                                        <h5 class="card-title text-center fw-bold mb-3">Mohammadreza Salmanpour
                                            Paeenafrakati</h5>
                                        <h6 class="text-muted ">Founder and Owner</h6>
                                        <p class="line"></p>
                                        <p class="text-center">I am a researcher at the BC cancer research center
                                            (BCCRC) located in Vancouver General Hospital (VGH)...</p>
                                    </div>
                                </div>
                            </div>
                            <div class="content-back ">
                                <div class="card-member d-flex flex-column justify-content-center align-items-center bg">
                                    <img src="../../../media/members/img/tecvico.png" class="img-fluid" alt="">
                                    <p class="text-white w-75 text-center ">
                                        I am a researcher at the BC cancer research center (BCCRC) located in Vancouver
                                        General Hospital (VGH).
                                        I was already working at Amirkabir University (Tehran Polytechnic). My
                                        bachelor's degree was in power electrical engineering at Mazandaran University,
                                        and my master's degree was in nuclear engineering (reactor) at Amirkabir
                                        University (Tehran Polytechnic), and my Ph.D. is in nuclear engineering (medical
                                        radiation) at Amirkabir University (Tehran Polytechnic).
                                        I am working in the medical physics area, especially Parkinson's Disease area
                                        and cancer area such as breast, lung, prostate, lymphoma, head&neck, etc. I am
                                        interested in employing machine learning, data mining, and image processing
                                        techniques for my research.
                                        I am also interested in joining the international groups which are working in
                                        the mentioned fields and creating some software and apps which could be useful
                                        in medicine.
                                    </p>
                                    <div class="d-flex justify-content-center align-items-center mt-3">
                                        <a href="">
                                            <i class="fab fa-google  mx-2"></i>
                                        </a>
                                        <a href="">
                                            <i class="fab fa-linkedin  mx-2"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-12 mt-2 p-3">
                        <div class="content-inner">
                            <div class="content-front">
                                <div class="card-member">
                                    <img class="background-space img-fluid" src="../../../media/members/img/space-back.png" alt="">
                                    <div class="avatar ">
                                        <div>
                                            <div>
                                                <div>
                                                    <img src="../../../media/members/img/member/fateme-qazipour.png" class="img-fluid" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card_body p-4">
                                        <h5 class="card-title text-center fw-bold mb-3">Fatima Ghazipour</h5>
                                        <h6 class="text-muted ">Human Resource Director</h6>
                                        <p class="line"></p>
                                        <p class="text-center">Not Determined</p>
                                    </div>
                                </div>
                            </div>
                            <div class="content-back ">
                                <div class="card-member d-flex flex-column justify-content-center align-items-center bg">
                                    <img src="../../../media/members/img/tecvico.png" class="img-fluid" alt="">
                                    <p class="text-white w-75 text-center ">
                                        Not Determined
                                    </p>
                                    <div class="d-flex justify-content-center align-items-center mt-3">
                                        <a href="">
                                            <i class="fab fa-google  mx-2"></i>
                                        </a>
                                        <a href="">
                                            <i class="fab fa-linkedin  mx-2"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mt-2 p-3">
                        <div class="content-inner">
                            <div class="content-front">
                                <div class="card-member">
                                    <img class="background-space img-fluid" src="../../../media/members/img/space-back.png" alt="">
                                    <div class="avatar ">
                                        <div>
                                            <div>
                                                <div>
                                                    <img src="../../../media/members/img/member/sheykhi.png" class="img-fluid" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card_body p-4">
                                        <h5 class="card-title text-center fw-bold mb-3">Hossein Sheykhi</h5>
                                        <h6 class="text-muted ">Industry Director</h6>
                                        <p class="line"></p>
                                        <p class="text-center">I have experience in power generation industry, such as
                                            installing, maintenance and operation.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="content-back ">
                                <div class="card-member d-flex flex-column justify-content-center align-items-center bg">
                                    <img src="../../../media/members/img/tecvico.png" class="img-fluid" alt="">
                                    <p class="text-white w-75 text-center ">
                                        I have experience in power generation industry, such as installing, maintenance
                                        and operation.
                                    </p>
                                    <div class="d-flex justify-content-center align-items-center mt-3">
                                        <a href="">
                                            <i class="fab fa-google  mx-2"></i>
                                        </a>
                                        <a href="">
                                            <i class="fab fa-linkedin  mx-2"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mt-2 p-3">
                        <div class="content-inner">
                            <div class="content-front">
                                <div class="card-member">
                                    <img class="background-space img-fluid" src="../../../media/members/img/space-back.png" alt="">
                                    <div class="avatar ">
                                        <div>
                                            <div>
                                                <div>
                                                    <img src="../../../media/members/img/member/qaemi.png" class="img-fluid" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card_body p-4">
                                        <h5 class="card-title text-center fw-bold mb-3">Mohammad Ghaemi</h5>
                                        <h6 class="text-muted ">Technical Director</h6>
                                        <p class="line"></p>
                                        <p class="text-center">MD, PhD in medical informatics</p>
                                    </div>
                                </div>
                            </div>
                            <div class="content-back ">
                                <div class="card-member d-flex flex-column justify-content-center align-items-center bg">
                                    <img src="../../../media/members/img/tecvico.png" class="img-fluid" alt="">
                                    <p class="text-white w-75 text-center ">
                                        MD, PhD in medical informatics
                                    </p>
                                    <div class="d-flex justify-content-center align-items-center mt-3">
                                        <a href="">
                                            <i class="fab fa-google  mx-2"></i>
                                        </a>
                                        <a href="">
                                            <i class="fab fa-linkedin  mx-2"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                  
                    <!--<div class="col-lg-4 col-md-6 col-sm-12  mt-2 p-3">
                        <div class="content-inner">
                            <div class="content-front">
                                <div class="card-member">
                                    <img class="background-space img-fluid" src="../../../media/members/img/space-back.png" alt="">
                                    <div class="avatar ">
                                        <div>
                                            <div>
                                                <div>
                                                    <img src="../../../media/members/img/member/nabizade.png" class="img-fluid" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card_body p-4">
                                        <h5 class="card-title text-center fw-bold mb-3">Amir Hossein Nabizadeh</h5>
                                        <h6 class="text-muted ">Research Director</h6>
                                        <p class="line"></p>
                                        <p class="text-center">I am more into prediction models using ML techniques.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="content-back ">
                                <div class="card-member d-flex flex-column justify-content-center align-items-center bg">
                                    <img src="../../../media/members/img/tecvico.png" class="img-fluid" alt="">
                                    <p class="text-white w-75 text-center ">
                                        I am more into prediction models using ML techniques.
                                    </p>
                                    <div class="d-flex justify-content-center align-items-center mt-3">
                                        <a href="">
                                            <i class="fab fa-google  mx-2"></i>
                                        </a>
                                        <a href="">
                                            <i class="fab fa-linkedin  mx-2"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <div class="col-lg-4 col-md-6 col-sm-12  mt-2 p-3">
                        <div class="content-inner">
                            <div class="content-front">
                                <div class="card-member">
                                    <img class="background-space img-fluid" src="../../../media/members/img/space-back.png" alt="">
                                    <div class="avatar ">
                                        <div>
                                            <div>
                                                <div>
                                                    <img src="../../../media/members/img/member/sheyda-qazipour.png" class="img-fluid" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card_body p-4">
                                        <h5 class="card-title text-center fw-bold mb-3">Sheyda Ghazipour</h5>
                                        <h6 class="text-muted ">Marketing Director</h6>
                                        <p class="line"></p>
                                        <p class="text-center">Not determined</p>
                                    </div>
                                </div>
                            </div>
                            <div class="content-back ">
                                <div class="card-member d-flex flex-column justify-content-center align-items-center bg">
                                    <img src="../../../media/members/img/tecvico.png" class="img-fluid" alt="">
                                    <p class="text-white w-75 text-center ">
                                        Not determined
                                    </p>
                                    <div class="d-flex justify-content-center align-items-center mt-3">
                                        <a href="">
                                            <i class="fab fa-google  mx-2"></i>
                                        </a>
                                        <a href="">
                                            <i class="fab fa-linkedin  mx-2"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12  mt-2 p-3">
                        <div class="content-inner">
                            <div class="content-front">
                                <div class="card-member">
                                    <img class="background-space img-fluid" src="../../../media/members/img/space-back.png" alt="">
                                    <div class="avatar ">
                                        <div>
                                            <div>
                                                <div>
                                                    <img src="../../../media/members/img/member/rezayi.png" class="img-fluid" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card_body p-4">
                                        <h5 class="card-title text-center fw-bold mb-3">Masoud Rezaei</h5>
                                        <h6 class="text-muted ">Research Director Assistant </h6>
                                        <p class="line"></p>
                                        <p class="text-center">Ph.D. in medical physics</p>
                                    </div>
                                </div>
                            </div>
                            <div class="content-back ">
                                <div class="card-member d-flex flex-column justify-content-center align-items-center bg">
                                    <img src="../../../media/members/img/tecvico.png" class="img-fluid" alt="">
                                    <p class="text-white w-75 text-center ">
                                        Ph.D. in medical physics
                                    </p>
                                    <div class="d-flex justify-content-center align-items-center mt-3">
                                        <a href="">
                                            <i class="fab fa-google  mx-2"></i>
                                        </a>
                                        <a href="">
                                            <i class="fab fa-linkedin  mx-2"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row justify-content-center"></div>
            </section>
        </div>
    </div>
</div>
<div>
</div>

<!--</body>
<script src="../../../media/members/js/jquery-3.6.0.min.js"></script>
<script src="../../../media/members/js/bootstrap.min.js"></script>-->
<script src="../../../media/members/js/owl.carousel.min.js"></script>
<script src="../../../media/members/js/bootstrap.bundle.min.js"></script>
<!--<script src="../../../media/members/js/main.js"></script>-->

<!--</html>-->
{% endblock content %}



