{% extends "ivc_website/base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!-- HEADER SECTION -->
<header id="login-header-section">
    <div class="login-header-inner">
        <div class="row d-flex flex-wrap align-items-center">
            <div class="col-12 text-center">
                <h1 class="display-4">{% trans "Password Reset Done" %}</h1>
            </div>
        </div>
    </div>
</header>
<section id="password-done-section" class="bg-light text-dark py-5 px-3">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="alert alert-info">
                    {% trans "An email has been sent with instructions to reset your password please check your spam" %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}