body {
    background: #00262b;
    font-family: 'Roboto', sans-serif;
}

.project-box {
    margin-top: 75px;
    height: auto;
    background: #f9f9f9;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.project-key {
    height: 100px;
    font-size: 80px;
    line-height: 100px;
    background: -webkit-linear-gradient(#0C3B28, #00262b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project-title {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 15px;
    font-weight: bold;
    color: #00262b;
}

.project-form {
    margin-top: 25px;
    text-align: left;
}

input[type=text], input[type=url]{
    background-color: #f9f9f9;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #00262b;
}

.disInp{
    background-color: #f9f9f9 !important; 
     color: #00262b !important;
}
.txtara{
	 background-color: #f9f9f9;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #00262b;
	
}

.slct{
	background-color: #f9f9f9;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #00262b;
	
}
.tbl{
	background-color: #1A2226;
    font-weight: bold;
	font-size:0.9em;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #ECF0F5;

}
.cursign:hover{
    
    cursor:pointer;
}
input[type=password] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: #ECF0F5;
}

.form-group {
    margin-bottom: 40px;
    outline: 0px;
}

.bc {
    width: 200%;
    padding: 20px;
    background-color: #90B77D;
    display: block;
    font-size: 18px;
    color:#00262b;
    padding-left: 80px;
} 

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #0DB8DE;
    outline: 0;
    background-color: #f9f9f9;
    color: #00262b;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0;
}

label {
    margin-bottom: 0px;
}

.form-control-label {
    font-size: 15px;
    color: #6C6C6C;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-outline-primary {
    border-color: #0DB8DE;
    color: #0DB8DE;
    border-radius: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover {
    background-color: #0DB8DE;
    right: 0px;
}

.project-btm {
    float: left;
}

.project-button {
    padding-right: 0px;
    text-align: center;
    margin-bottom: 25px;
}

.project-text {
    text-align: left;
    padding-left: 0px;
    color: #A2A4A4;
}

.projectbttm {
    padding: 0px;
}

.selectedRow {
    
    background-color:darkorange;
    
}


.asteriskField{
    color:red !important;
}


