{% extends "dashboard/base.html" %}
{% load static %}
{% block body_class %}gray-container{% endblock body_class%}
{% block content %}
{% load crispy_forms_tags %}
{% load dashboard_filter %}

{% block css %}
<link rel="stylesheet" href="{% static 'dashboard/css/step.css' %}">
<link rel="stylesheet" href="{% static '/dashboard/css/researchtheme.css' %}">

<style>
    
.selectedRow {
 background-color:darkorange;
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

</style>

{% endblock %}

<header id="main-header" class="py-2 bg-color6 text-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1><i class="fas fa-paper-plane"></i> Send to the reviewer</h1>
            </div>
        </div>
    </div>
</header>
<section id="project-view">
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <div class="alert alert-success"> {{ message }}</div>
                    {% else %}
                        <div class="alert alert-success"> {{ message }}</div>
                    {%endif %}
            {% endfor %}
        {% endif %}
    </div>
    
    
   <div class="container mt-3">
        <div class="row text-center">
            
                <div class="form-group col-xl-6 col-md-6 col-sm-12 mx-auto">
                    
                    <form method="POST" id="pform">{% csrf_token %}
                        <table id="exprtTbl" class="tbl table table-sm table-bordered ">
                            <thead class="table-warning text-dark">
                                <tr>
                                    <th scope="col">Full name </th>
                                    <th scope="col">CV</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                <tr class="cursign" id="{{user.id}}" >
                                    <td class="p-1" data-name="{{user}}">{{user.get_full_name}}</td>
                                    <td><button type="button" class="btn btn-sm btn-warning text-dark" data-bs-toggle="modal" data-bs-target="#r{{user}}" > View</button>
                                    
                                    
                                    
                                    <div class="modal fade" id="r{{user}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title text-white" id="exampleModalLabel"></h5>
                                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
                                                </div>
                                                
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-xl-12 col-lg-12 col-md-12">
                                                            <table class="table table-dark table-bordered">
                                                                <tbody class="text-center">
                                                                    <tr class="table-info text-dark">
                                                                        <td>First name:</td>
                                                                        <td>Last name:</td>
                                                                        <td>Email:</td>
                                                                    </tr>
                                                                    <tr class="text-dark">
                                                                        <td>{{user.first_name}}</td>
                                                                        <td>{{user.last_name}}</td>
                                                                        <td>{{user.email}}</td>
                                                                    </tr>
                                                                    <tr class="table-info text-dark">
                                                                        <td>Evaluted:</td>
                                                                        <td>Declined:</td>
                                                                        <td>Breach of promise:</td>
                                                                    </tr>
                                                                    <tr class="text-dark">
                                                                        <td>{{user.researchrole.count_evaluated_reviewer}}</td>
                                                                        <td>{{user.researchrole.count_rejected_reviewer}}</td>
                                                                        <td>{{user.researchrole.count_breach_of_promis_reviewer}}</td>
                                                                    </tr>
                                                                </tbody>
                                                                
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="row text-center">
                                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 text-start">
                                                            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#{{user}}history" >History </button>
                                                            
                                                        </div>   
                                                        
                                                       
                                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 text-end">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        </div>
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                                                
                                        </div><!--modal-dialog-->
                                    </div> <!--modal-->  
                                    
                                    
                                    
                                    <div class="modal fade" id="{{user}}history" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title text-white" id="exampleModalLabel">History</h5>
                                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
                                                </div>
                                                
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-xl-12 col-lg-12 col-md-12">
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="row text-center">
                                                        
                                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 text-end">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        </div>
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                                                
                                        </div><!--modal-dialog-->
                                    </div> <!--modal-->       
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    </td>
                                </tr>
                                
                       
                               
                                {% endfor %}
                            </tbody>
                        </table>
                        <div id="tbl_error" style="color:red"></div>
                        <input type="hidden"  name="user_list" id="id_user_sel" class="form-control" >
                        <div id="div_id_status" class="form-group">
                            <input type="hidden" name="status" id="id_status" value="send_for_reviewer" >
                                                </div>
                         <button type="button" id="sendBtn" class="btn btn-primary px-5">Send</button>
                    </form>
                </div>
                    
                     
               
            
            
            
            
        </div>
        
    </div>
    
    
  
  
</section>


{% endblock content %}


{% block script %}



<script>
var ID_list=[];
        $(document).ready(function () {
           
            document.getElementById("sendBtn").addEventListener("click",function(){
                var revList =  document.getElementById("id_user_sel").value; 
                
                var revListArr = revList.split(",");
                 if(revList =="" || revListArr.length == 0){    
                    document.getElementById("tbl_error").innerHTML="Error: please select reviewer(s) of the list.";
                    return;
                 }
                document.getElementById('pform').submit();
                document.getElementById("sendBtn").disabled=true;
                
              
            });
        
           
           
            $("#exprtTbl tr").click(function(){
               document.getElementById("tbl_error").innerHTML="";
                var IDs = document.getElementById("id_user_sel").value;
                var idRow = $(this).attr('id');
                var RowElm = document.getElementById(idRow);
                IDsArr = IDs.split(",");
                
                if(RowElm.classList.contains('selectedRow')){
                    $(this).removeClass('selectedRow');
                    if(idRow == IDsArr[0]){
                        new_IDs = IDs.replace(idRow, '');
                        document.getElementById("id_user_sel").value =  new_IDs ;
                    }else{
                        new_IDs = IDs.replace(','+idRow, '');
                        document.getElementById("id_user_sel").value =  new_IDs ;
                    }
                    
               
                }else{
                    $(this).addClass('selectedRow');
                    if(document.getElementById("id_user_sel").value==""){
                        document.getElementById("id_user_sel").value = idRow;
                    }else{
                        document.getElementById("id_user_sel").value = IDs + "," + idRow ; 
                    }
                   
                }
              
              
               
                
            });
            
            
            
            
            
            
            
            
            
        });
        
        
function addID(user_ID){
    //alert("ok");
    var inputTxt="";
    //var CheckElm = document.getElementById("chk"+ user_ID);
    var rowElm = document.getElementById("r"+ user_ID);
    rowElm.addClass('selectedRow').siblings().removeClass('selectedRow');
   /* if(rowElm.classList.contains(selectedRow)){
        
        alert("true")
    }*/
    
   /* if(CheckElm.checked){
        CheckElm.checked=false;
        rowElm.style.backgroundColor="#1A2226";
         for( var i = 0; i < UserIDsText.length; i++){ 
                                   
        if ( UserIDsText[i] === user_ID) { 
            UserIDsText.splice(i, 1); 
            i--; 
        }
    }
        
    }else{
        CheckElm.checked=true;
        rowElm.style.backgroundColor="#ff9f80";
        UserIDsText.push(user_ID);
    }*/
    
    for( var j = 0; j < UserIDsText.length; j++){ 
                                   
       inputTxt = inputTxt + UserIDsText[j] +",";
    }
    
    var newinputTxt = inputTxt.slice(0, -1);
    
    document.getElementById("id_user_sel").value = newinputTxt;
      
  }
        
        
        
        
        
        
        
        
        
        

/*    function restore_accept_modal() {
            $('input[type=radio][name=accept-reason-method]').each((index, input) => {
                input.checked = false;
            })

            $('input[type=checkbox][name=accept-reason]').each((index, input) => {
                input.checked = false;
            })

            $('.acceptTemplate').addClass('d-none')
            $('.acceptManual').addClass('d-none')
    }

    function restore_reject_modal() {
            $('input[type=radio][name=reject-reason-method]').each((index, input) => {
                input.checked = false;
            })

            $('input[type=checkbox][name=reject-reason]').each((index, input) => {
                input.checked = false;
            })

            // for area
            $('.rejectTemplate').addClass('d-none');
            $('.rejectManual').addClass('d-none');
    }

    $('.btn-accept-area').on('click', (event) => {
        $('#acceptAreaModal').modal({
          show:true,
          closeOnEscape: true
        });

        restore_accept_modal();

        const clicked_on_tick_icon = $(event.target).hasClass('fa-check');
        if (clicked_on_tick_icon) {
            var area_pk = $(event.target).parent().attr('area-pk');
        }
        else {
            var area_pk = $(event.target).attr('area-pk');
        }

        $('input[name$="accept-area"]').val(area_pk);
    });

    $('.btn-accept-project-area').on('click', (event) => {
        $('#acceptProjectAreaModal').modal({
          show:true,
          closeOnEscape: true
        });

        restore_accept_modal();

        const clicked_on_tick_icon = $(event.target).hasClass('fa-check');
        if (clicked_on_tick_icon) {
            var area_pk = $(event.target).parent().attr('area-pk');
        }
        else {
            var area_pk = $(event.target).attr('area-pk');
        }
        $('input[name$="accept-project-area"]').val(area_pk);
    });

    $('.btn-reject-project-area').on('click', (event) => {
        $('#rejectProjectAreaModal').modal({
          show:true,
          closeOnEscape: true
        });

        restore_reject_modal();

        const clicked_on_tick_icon = $(event.target).hasClass('fa-times');
        if (clicked_on_tick_icon) {
            var area_pk = $(event.target).parent().attr('area-pk');
        }
        else {
            var area_pk = $(event.target).attr('area-pk');
        }

        $('input[name$="reject-project-area"]').val(area_pk);
    });

    $('.btn-reject-area').on('click', (event) => {
        $('#rejectAreaModal').modal({
          show:true,
          closeOnEscape: true
        });

        restore_reject_modal();

        const clicked_on_tick_icon = $(event.target).hasClass('fa-times');
        if (clicked_on_tick_icon) {
            var area_pk = $(event.target).parent().attr('area-pk');
        }
        else {
            var area_pk = $(event.target).attr('area-pk');
        }

        console.log(area_pk);

        $('input[name$="reject-area"]').val(area_pk);
    });

    $('input[type=radio][name=reject-reason-method]').change(function() {
        if (this.value === "From Template") {
            $('.rejectTemplate').removeClass('d-none')
            $('.rejectManual').addClass('d-none')
        }
        else {
            $('.rejectTemplate').addClass('d-none')
            $('.rejectManual').removeClass('d-none')
        }
    });

    $('input[type=radio][name=accept-reason-method]').change(function() {
        if (this.value === "From Template") {
            $('.acceptTemplate').removeClass('d-none')
            $('.acceptManual').addClass('d-none')
        }
        else {
            $('.acceptTemplate').addClass('d-none')
            $('.acceptManual').removeClass('d-none')
        }
    });

    $('.submit-reject-area-template').on('click', (event) => {
        event.preventDefault();
        $('input[type=checkbox][name=reject-reason]').each((index, input) => {
            if (input.checked) {
                $('#reject-area-form').submit();
            }
        });
    })

    $('.submit-accept-area-template').on('click', (event) => {
        event.preventDefault();
        $('input[type=checkbox][name=accept-reason]').each((index, input) => {
            if (input.checked) {
                $('#accept-area-form').submit();
            }
        });
    })

    $('.submit-accept-project-area-template').on('click', (event) => {
        event.preventDefault();
        $('input[type=checkbox][name=accept-project-area-reason]').each((index, input) => {
            if (input.checked) {
                $('#accept-project-area-form').submit();
            }
        });
    })

    $('.submit-reject-project-area-template').on('click', (event) => {
        event.preventDefault();
        $('input[type=checkbox][name=reject-project-area-reason]').each((index, input) => {
            if (input.checked) {
                $('#reject-project-area-form').submit();
            }
        });
    })

*/



    $( document ).ready( function() {
        const errorMessage = "This field is required";

        $( this ).find( "textarea" ).on( "input change propertychange", function() {

            const hasError = !/.*\S+.*/.test($(this).val());
            if ( typeof this.setCustomValidity === "function")
            {
                this.setCustomValidity( hasError ? errorMessage : "" );
            }
            else
            {
                $( this ).toggleClass( "error", !!hasError );
                $( this ).toggleClass( "ok", !hasError );

                if ( hasError )
                {
                    $( this ).attr( "title", errorMessage );
                }
                else
                {
                    $( this ).removeAttr( "title" );
                }
            }

        });
    });

/*    function restore_add_modal() {
            $('input[type=radio][name=add-reason-method]').each((index, input) => {
                input.checked = false;
            })

            $('input[type=checkbox][name=add-reason]').each((index, input) => {
                input.checked = false;
            })

            $('#addFromTemplate').addClass('d-none')
            $('#addManually').addClass('d-none')
    }

    function restore_remove_modal() {
            $('input[type=radio][name=remove-reason-method]').each((index, input) => {
                input.checked = false;
            })

            $('input[type=checkbox][name=remove-reason]').each((index, input) => {
                input.checked = false;
            })

            $('#removeFromTemplate').addClass('d-none')
            $('#removeManually').addClass('d-none')
    }

    const manuallyAddAreaBtn = $('#btn-add-manually');
    const selectAddAreaBtn = $('#btn-add-select');

    manuallyAddAreaBtn.on('click', (event) => {
        event.preventDefault();
        if (manuallyAddAreaBtn.get(0).form.reportValidity()) {
            const entered_value = $('#input-add-manually').val();
            $('#addAreaModal').modal({
              show:true,
              closeOnEscape: true
            });

            restore_add_modal();

            $('input[name$="add-industrial-area"]').val(entered_value);
        }
        else {
            manuallyAddAreaBtn.get(0).form.checkValidity();
        }
    });

    selectAddAreaBtn.on('click', (event) => {
        event.preventDefault();
        const entered_value = $('#select-add').val();
        $('#addAreaModal').modal({
          show:true,
          closeOnEscape: true
        });

        restore_add_modal();

        $('input[name$="add-industrial-area"]').val(entered_value);
    });

    $('input[type=radio][name=add-reason-method]').change(function() {
        if (this.value === "From Template") {
            $('#addFromTemplate').removeClass('d-none')
            $('#addManually').addClass('d-none')
        }
        else {
            $('#addFromTemplate').addClass('d-none')
            $('#addManually').removeClass('d-none')
        }
    });

    $('.btn-remove-area').on('click', (event) => {
        $('#removeAreaModal').modal({
          show:true,
          closeOnEscape: true
        });

        restore_remove_modal();

        const clicked_on_tick_icon = $(event.target).hasClass('fa-times');
        if (clicked_on_tick_icon) {
            var area_pk = $(event.target).parent().attr('area-pk');
        }
        else {
            var area_pk = $(event.target).attr('area-pk');
        }

        $('input[name$="remove-area"]').val(area_pk);
    });

    $('input[type=radio][name=remove-reason-method]').change(function() {
        if (this.value === "From Template") {
            $('#removeFromTemplate').removeClass('d-none')
            $('#removeManually').addClass('d-none')
        }
        else {
            $('#removeFromTemplate').addClass('d-none')
            $('#removeManually').removeClass('d-none')
        }
    });

    $('.submit-remove-area-template').on('click', (event) => {
        event.preventDefault();
        $('input[type=checkbox][name=remove-reason]').each((index, input) => {
            if (input.checked) {
                $('#remove-area-form').submit();
            }
        });
    });

    $('.submit-add-area-template').on('click', (event) => {
        event.preventDefault();
        $('input[type=checkbox][name=add-reason]').each((index, input) => {
            if (input.checked) {
                $('#add-area-form').submit();
            }
        });
    });*/
</script>


{% endblock script %}