{% extends "dashboard/base.html" %}
{% load static %}
{% block body_class %}gray-container{% endblock body_class%}
{% block content %}
{% load crispy_forms_tags %}
{% load dashboard_filter %}

<head>
    <link rel="stylesheet" href="{% static '/dashboard/css/researchtheme.css' %}">
</head>

<header id="main-header" class="py-2 bg-color6 text-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1><i class="fas fa-user-tie"></i> Expert's panel  </h1>
            </div>
        </div>
    </div>
</header>

<section id="industry-director">
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                <div class="alert alert-success"> {{ message }}</div>
                {% else %}
                <div class="alert alert-danger"> {{ message }}</div>
                {%endif %}
            {% endfor %}
        {% endif %}
    </div>
    <div class="container">
        <!-- new -->
        <div class="card-page">
            <div class="row justify-content-center align-items-center">
                <!-- 1 -->

                <!-- 2 -->
                {% if request.GET.filter == "expert_industry_projects" %}
                <div class="col green active">
                    <a href="" class="text-center text-white">
                        <i class="fa fa-check-circle"></i>
                        <h4 class="text-white titlestyle"> New project without mainsupervisor</h4>
                        <p class="number ">{{new_projects_count}}</p>
                    </a>
                </div>
                {% else %}
                <div class="col pink">
                    <a href="?filter=expert_industry_projects" class="text-center text-white">
                        <i class="fa fa-check-circle"></i>
                        <h4 class="text-white titlestyle"> New project without main supervisor</h4>
                        <p class="number ">{{new_projects_count}}</p>
                    </a>
                </div>                  
                {% endif %}
                
                {% if request.GET.filter == "request_main_supervisor" %}
                <div class="col green active">
                    <a href="" class="text-center text-white">
                        <i class="fa fa-check-circle"></i>
                        <h4 class="text-white titlestyle"> New project with main supervisor</h4>
                        <p class="number ">{{new_project_main_count}}</p>
                    </a>
                </div>
                {% else %}
                <div class="col pink">
                    <a href="?filter=request_main_supervisor" class="text-center text-white">
                        <i class="fa fa-check-circle"></i>
                        <h4 class="text-white titlestyle"> New project with main supervisor</h4>
                        <p class="number ">{{new_project_main_count}}</p>
                    </a>
                </div>                  
                {% endif %}
    
            </div>
        </div>
        <!-- end of card-page -->

        <!-- start of tables -->
        <!-- t1 -->
        {% if request.GET.filter == "expert_industry_projects" %}
                          
            <table class="table table-hover table-striped table-dark table-striped  mt-5">
                <thead class="table-primary text-dark">
                <tr>    
                    <th>Project ID</th>   
                    <th>Title</th>
                    <th>Fund</th>
                    <th>Submission date</th>
                    <th>Suggested start date</th>
                    <th>Suggested end date</th>
                    <th>Owner</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for project in new_projects %}
                    <tr>
                        <td class="p-name">
                            <p style="overflow: hidden; width: 150px">{{project.formclint.id_project}}</p>
                        </td>
                        <td class="p-name">
                            <p style="overflow: hidden; width: 200px">{{project.formclint.title|truncatechars:50}}</p>
                        </td>
                        
                        <td class="p-name">
                            ${{project.formclint.fund}}
                        </td>
                        <td class="p-name">
                            {{project.formclint.created|date:'m-d-Y'}}
                        </td>
                        <td class="p-name">
                            {{project.formclint.start_date}}
                        </td>
                        <td class="p-name">
                            {{project.formclint.end_date}}
                        </td>
                        <td class="p-name">
                            {{project.formclint.user.get_full_name}}
                        </td>
                        <td class="p-name">
                            Pending for you decision <span class="text-center" style="font-size: 11px">(Submit a project to reviewer's)</span>
                        </td>
                        <td class="text-right">
                            <a href="
                                {% url 'industry:industry-expert-detail' project.pk %}
                            " class="btn btn-primary btn-xs mb-1">
                                <i class="fa fa-eye"></i> View & send
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            
         {% endif %}




        {% if request.GET.filter == "request_main_supervisor" %}
            <table class="table table-hover table-striped p-table mt-5">
                <thead class="table-primary text-dark">
                <tr>
                    <th>Project ID</th>
                    <th>Title</th>
                    <th>Fund</th>
                    <th>Submission date</th>
                    <th>Suggested start date</th>
                    <th>Suggested end date</th>
                    <th>Owner</th>
                    <th>Status</th>
                    <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in new_project_main %}
                        <tr>
                            <td class="p-name">
                                <p style="overflow: hidden; width: 150px">{{project.client_form.formclint.id_project}}</p>
                            </td>
                            <td class="p-name">
                                <p style="overflow: hidden; width: 200px">{{project.client_form.formclint.title|truncatechars:50}}</p>
                            </td>
                            <td class="p-name">
                                ${{project.client_form.formclint.fund}}
                            </td>
                            <td class="p-name">
                                {{project.client_form.formclint.created|date:'M-d-Y'}}
                            </td>
                            <td class="p-name">
                                {{project.client_form.formclint.start_date}}
                            </td>
                            <td class="p-name">
                                
                                {{project.client_form.formclint.end_date}}
                            </td>
                            <td class="p-name">
                                {{project.client_form.formclint.user.get_full_name}}
                                <span style="color: green;">Main supervisor</span>
                            </td>
                            <td class="p-name">
                                Pending for your decision to select a reviewer
                            </td>
                             <td class="text-right">
                                 <a href="{% url 'industry:industry-supervisor-expert-detail' project.pk %}" class="btn btn-primary btn-xs mb-1">
                                     <i class="fa fa-eye"></i> View
                                 </a>
                             </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</section>


{% endblock content %}

{% block script %}
<script>
    $('.selectpicker').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
        let selectedItem = $(this).val();
        let itemClasses = {
            "Golden": "bg-warning text-dark",
            "Silver": "bg-secondary text-white",
            "Bronze": "bg-danger text-white",
            "Normal": "bg-dark text-white",
        };
        $(this).selectpicker('setStyle', itemClasses[previousValue], 'remove');
        $(this).selectpicker('setStyle', itemClasses[selectedItem], 'add');

    });
</script>

<script>
    function isNumeric(n) {
        return !isNaN(parseFloat(n)) && isFinite(n);
    }

    $("[name='project-value']").keypress(function (evt) {
        let entered_value = evt.originalEvent.key;
        let current_value = $(evt.currentTarget).val();
        if (isNumeric(entered_value) || (entered_value === '.' && !(current_value.includes('.')))) {
            // let input be entered
        }
        else {
            evt.preventDefault();
        }
    });
</script>
{% endblock script %}
