{% extends "dashboard/base.html" %}
{% load static %}
{% block body_class %}gray-container{% endblock body_class%}
{% block content %}
{% load crispy_forms_tags %}
{% load dashboard_filter %}

<header id="main-header" class="py-2 bg-color6 text-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1><i class="fas fa-file-signature"></i> Contract </h1>
            </div>
        </div>
    </div>
</header>

<head>
    <link rel="stylesheet" href="{% static '/dashboard/css/researchtheme.css' %}">
</head>


<section id="industry-director">
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                <div class="alert alert-success"> {{ message }}</div>
                {% else %}
                <div class="alert alert-danger"> {{ message }}</div>
                {%endif %}
            {% endfor %}
        {% endif %}
    </div>
    <div class="container">
        <!-- new -->
        <div class="card-page">
            <div class="row justify-content-center align-items-center">

            {% if request.GET.filter == "new-contract" %}
            <div class="col green active">
                <a href="" class="text-center text-white">
                    <i class="fa fa-check-circle"></i>
                    <h4 class="text-white titlestyle">New</h4>
                    <p class="number ">{{new_contract_list_count}}</p>
                </a>
            </div>
            {% else %}
            <div class="col pink">
                <a href="?filter=new-contract" class="text-center text-white">
                    <i class="fa fa-check-circle"></i>
                    <h4 class="text-white titlestyle">New</h4>
                    <p class="number ">{{new_contract_list_count}}</p>
                </a>
            </div>                  
            {% endif %}

            {% if request.GET.filter == "revise-contract" %}
            <div class="col green active">
                <a href="" class="text-center text-white">
                    <i class="fa fa-check-circle"></i>
                    <h4 class="text-white titlestyle">Revised</h4>
                    <p class="number ">{{revised_contract_list_count}}</p>
                </a>
            </div>
            {% else %}
            <div class="col pink">
                <a href="?filter=revise-contract" class="text-center text-white">
                    <i class="fa fa-check-circle"></i>
                    <h4 class="text-white titlestyle">Revised</h4>
                    <p class="number ">{{revised_contract_list_count}}</p>
                </a>
            </div>                  
            {% endif %}

            {% if request.GET.filter == "not-response" %}
            <div class="col green active">
                <a href="" class="text-center text-white">
                    <i class="fa fa-check-circle"></i>
                    <h4 class="text-white titlestyle">Not response</h4>
                    <p class="number ">0</p>
                </a>
            </div>
            {% else %}
            <div class="col pink">
                <a href="?filter=not-response" class="text-center text-white">
                    <i class="fa fa-check-circle"></i>
                    <h4 class="text-white titlestyle">Not response</h4>
                    <p class="number ">0</p>
                </a>
            </div>                  
            {% endif %}
                
                    
            {% if request.GET.filter == "chek_contract" %}
            <div class="col green active">
                <a href="" class="text-center text-white">
                    <i class="fa fa-check-circle"></i>
                    <h4 class="text-white titlestyle">Signed contract</h4>
                    <p class="number ">{{signed_contract_list_count}}</p>
                </a>
            </div>
            {% else %}
            <div class="col pink">
                <a href="?filter=chek_contract" class="text-center text-white">
                    <i class="fa fa-check-circle"></i>
                    <h4 class="text-white titlestyle">Signed contract</h4>
                    <p class="number ">{{signed_contract_list_count}}</p>
                </a>
            </div>                  
            {% endif %}
                
            </div>

            <div class="content my-4 table-responsive">
              {% if request.GET.filter == "revise-contract" %}
                <table class="table table-hover table-striped p-table">
                    <thead class="table-primary text-dark">
                    <tr>
                        <th>Project ID</th>
                        <th>Title</th>

                        <th>Fund</th>
                        <th>Submission date</th>
                        <th>Suggested start date</th>
                        <th>Suggested end date</th>
                        <th>Owner</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for project in revised_contract_list %}
                            <tr>
                                <td class="p-name">
                                    <p style="overflow: hidden; width: 150px">{{project.formclint.id_project}}
                                </td>
                                <td class="p-name">
                                    <p style="overflow: hidden; width: 150px">{{project.formclint.title|truncatechars:50}}</p>
                                </td>
                                <td class="p-name">
                                    ${{project.formclint.fund}}
                                </td>
                                <td class="p-name">
                                    {{project.formclint.created|date:'m-d-Y'}}
                                </td>
                                <td class="p-name">
                                    {{project.formclint.start_date}}
                                </td>
                                <td class="p-name">
                                    {{project.formclint.end_date}}
                                </td>
                                <td class="p-name">
                                    {{project.formclint.user.get_full_name}}
                                    {% if project.formclint.main_supervisor %}
                                    <span style="color: green;">Main supervisor</span>
                                    {% endif %}
                                </td>
                                <td class="p-name">
                                    The contract has been revised and you must proceed with it
                                </td>
                                 <td class="text-right">
                                     <a href="{% url 'industry:industry-expert-detail' project.pk %}" class="btn btn-primary btn-xs mb-1">
                                         <i class="fa fa-eye"></i> View 
                                     </a>
                                 </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
              {% endif %}


              {% if request.GET.filter == "new-contract" %}
                <table class="table table-hover table-striped p-table">
                    <thead class="table-primary text-dark">
                    <tr>
                        <th>Project ID</th>
                        <th>Title</th>

                        <th>Fund</th>
                        <th>Submission date</th>
                        <th>Suggested start date</th>
                        <th>Suggested end date</th>
                        <th>Owner</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for project in new_contract_list %}
                            <tr>
                                <td class="p-name">
                                    <p style="overflow: hidden; width: 150px">{{project.formclint.id_project}}
                                </td>
                                <td class="p-name">
                                    <p style="overflow: hidden; width: 150px">{{project.formclint.title|truncatechars:50}}</p>
                                </td>
                                <td class="p-name">
                                    ${{project.formclint.fund}}
                                </td>
                                <td class="p-name">
                                    {{project.formclint.created|date:'m-d-Y'}}
                                </td>
                                <td class="p-name">
                                    {{project.formclint.start_date}}
                                </td>
                                <td class="p-name">
                                    {{project.formclint.end_date}}
                                </td>
                                <td class="p-name">
                                    {{project.formclint.user.get_full_name}}
                                    {% if project.formclint.main_supervisor %}
                                    <span style="color: green;">Main supervisor</span>
                                    {% endif %}
                                </td>
                                <td class="p-name">
                                    Pending for you decision <span class="text-center" style="font-size: 11px">(Submit a contract to the client)</span>
                                </td>
                                 <td class="text-right">
                                     <a href="{% url 'industry:industry-expert-detail' project.pk %}" class="btn btn-primary btn-xs mb-1">
                                         <i class="fa fa-eye"></i> View 
                                     </a>
                                 </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
              {% endif %}


              {% if request.GET.filter == "chek_contract" %}
                <table class="table table-hover table-striped p-table">
                    <thead class="table-primary text-dark">
                    <tr>
                        <th>Project ID</th>
                        <th>Title</th>

                        <th>Fund</th>
                        <th>Submission date</th>
                        <th>Suggested start date</th>
                        <th>Suggested end date</th>
                        <th>Owner</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for project in signed_contract_list %}
                            <tr>
                                <td class="p-name">
                                    <p style="overflow: hidden; width: 150px">{{project.formclint.id_project}}
                                </td>
                                <td class="p-name">
                                    <p style="overflow: hidden; width: 150px">{{project.formclint.title|truncatechars:50}}</p>
                                </td>
                                <td class="p-name">
                                    ${{project.formclint.fund}}
                                </td>
                                <td class="p-name">
                                    {{project.formclint.created|date:'m-d-Y'}}
                                </td>
                                <td class="p-name">
                                    {{project.formclint.start_date}}
                                </td>
                                <td class="p-name">
                                    {{project.formclint.end_date}}
                                </td>
                                <td class="p-name">
                                    {{project.formclint.user.get_full_name}}
                                    {% if project.formclint.main_supervisor %}
                                    <span style="color: green;">Main supervisor</span>
                                    {% endif %}
                                </td>
                                <td class="p-name">
                                    The contract has been signed and you must proceed with it
                                </td>
                                 <td class="text-right">
                                     <a href="{% url 'industry:industry-expert-detail' project.pk %}" class="btn btn-primary btn-xs mb-1">
                                         <i class="fa fa-eye"></i> View 
                                     </a>
                                 </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
              {% endif %}

            </div>


        </div>
        
 
    </div>
</section>


{% endblock content %}

{% block script %}
<script>
    $('.selectpicker').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
        let selectedItem = $(this).val();
        let itemClasses = {
            "Golden": "bg-warning text-dark",
            "Silver": "bg-secondary text-white",
            "Bronze": "bg-danger text-white",
            "Normal": "bg-dark text-white",
        };
        $(this).selectpicker('setStyle', itemClasses[previousValue], 'remove');
        $(this).selectpicker('setStyle', itemClasses[selectedItem], 'add');

    });
</script>

<script>
    function isNumeric(n) {
        return !isNaN(parseFloat(n)) && isFinite(n);
    }

    $("[name='project-value']").keypress(function (evt) {
        let entered_value = evt.originalEvent.key;
        let current_value = $(evt.currentTarget).val();
        if (isNumeric(entered_value) || (entered_value === '.' && !(current_value.includes('.')))) {
            // let input be entered
        }
        else {
            evt.preventDefault();
        }
    });
</script>
{% endblock script %}
