{% extends "dashboard/base.html" %}
{% load static %}
{% block body_class %}gray-container{% endblock body_class%}
{% block content %}
{% load crispy_forms_tags %}
{% load dashboard_filter %}

{% block css %}
<link rel="stylesheet" href="{% static 'dashboard/css/step.css' %}">
<link rel="stylesheet" href="{% static '/dashboard/css/researchtheme.css' %}">

{% endblock %}

<header id="main-header" class="py-2 bg-color6 text-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1><i class="fa fa-eye"></i> Request view </h1>
            </div>
        </div>
    </div>
</header>
<section id="project-view">
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <div class="alert alert-success"> {{ message }}</div>
                    {% else %}
                        <div class="alert alert-danger"> {{ message }}</div>
                    {%endif %}
            {% endfor %}
        {% endif %}
    </div>
    {% if user == selected_project.expert and not selected_project.expert_is_accepted %}
    <div class="container">
        <div class="row text-center mt-4 mx-auto">
            <div class="col-12 my-2">
                <h3>Do you accept to be a {% if selected_project.project_type == "Industrial" %}corresponding{% else %}project{% endif %} expert in this project?</h3>
                <button class="btn btn-success" onclick="$('#acceptProjectConfirmationModal').modal({show:true,closeOnEscape: true});">
                    <i class="fa fa-check"></i> Yes
                </button>
                <button class="btn btn-danger" onclick="$('#expertRejectProjectModal').modal({show:true,closeOnEscape: true});">
                    <i class="fa fa-times"></i> No
                </button>
            </div>
        </div>
    </div>
    {% elif selected_project.project_type == "Industrial" and not selected_project.is_valid %}
    <div class="container padding-bottom-3x mt-3">
        <div class="card">
          <div class="card-body">
            <div class="steps d-flex flex-wrap flex-sm-nowrap justify-content-between padding-top-2x padding-bottom-1x">
              <div class="step {% if selected_project.step >= 0 %}completed{% endif %}">
                <div class="step-icon-wrap">
                  <div class="step-icon"><i class="fa fa-plus"></i></div>
                </div>
                <h4 class="step-title">Project is defined</h4>
              </div>
              <div class="step {% if selected_project.step >= 1 %}completed{% endif %}">
                <div class="step-icon-wrap">
                  <div class="step-icon"><i class="fa fa-user-tie"></i></div>
                </div>
                <h4 class="step-title">Corresponding expert is selected</h4>
              </div>
              <div class="step {% if selected_project.step >= 2 %}completed{% endif %}">
                <div class="step-icon-wrap">
                  <div class="step-icon"><i class="fa fa-users"></i></div>
                </div>
                <h4 class="step-title">Experts are selected</h4>
              </div>
              <div class="step {% if selected_project.step >= 3 %}completed{% endif %}">
                <div class="step-icon-wrap">
                  <div class="step-icon"><i class="fa fa-scroll"></i></div>
                </div>
                <h4 class="step-title">Report of evaluation sent to the technical manager</h4>
              </div>
              <div class="step">
                <div class="step-icon-wrap">
                  <div class="step-icon"><i class="fa fa-star"></i></div>
                </div>
                <h4 class="step-title">Project state is new</h4>
              </div>
            </div>
          </div>
        </div>
    </div>
    {% endif %}

    <div class="container">
        <div class="row">
            {% if selected_project.is_valid %}
                {% if user == selected_project.owner or user == selected_project.main_supervisor %}
                <div class="col-md-3 my-1">
                        <a href="{% url 'dashboard-edit-project-page' project_pk=selected_project.pk%}" class="btn btn-primary btn-xs mt-1"><i class="fa fa-pencil"></i> Edit </a>
                </div>
                {% endif %}
            {% endif %}
        </div>
        <div class="row">
            <!-- new -->
        <!-- new table theme -->         
        <main class="container-fluid  ">
            <div class="content my-4">
                <div class="row px-4 py-2">
                    <div class="col-md-12">
                        <h2 style="overflow: hidden">{{selected_project.title}}</h2>
                        {% if selected_project.fund > 0 %}
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="form-control">
                                    ${{selected_project.fund}}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        
                        {% if selected_project.status == 'Rejected' %}
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="form-control">
                                 
                                <span class="badge badge-danger">Reason of rejection</span>
                                {{selected_project.reject_reason}}                            
                                </div>
                            </div>
                        </div>

                        {% endif %}

                        {% if project_areas %}
                            <div class="col-md-12">
                                <label class="form-label">Project areas:</label>
                                <div class="form-group ">
                                    <span class="text-info bold"></span>
                                        {% for project_area in project_areas %}
                                        <span class="badge
                                        {% if project_area.is_confirmed %}
                                            {% if project_area.area.confirmed %}
                                            badge-success
                                            {% else %}
                                            badge-danger
                                            {% endif %}
                                        {% else %}
                                            badge-warning
                                        {% endif %}
                                            ">{{project_area.area}}</span>
                                            {% endfor %}
                                </div>
                            </div>
                        {% endif %}
    

                    </div>

                    <div class="col-md-6">

                        <div class="form-group ">
                            <label class="form-label">First name:</label>
                            <input type="text" class="form-control" value="{{rp.user.first_name}}" disabled>
                        </div>
                    </div>
                     <div class="col-md-6">
                        <div class="form-group ">
                            <label class="form-label">Last name:</label>
                            <textaera col="5" row="5" type="text" class="form-control" value=" {{rp.user.last_name}}" disabled>{{rp.user.last_name}}</textaera>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group ">
                            <label class="form-label">Field of study:</label>
                            <input type="text" class="form-control" value="{{rp.user.memberprofile.field_of_study}}" disabled>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Country:</label>
                            <input type="text" class="form-control" value="{{rp.user.memberprofile.country}}" disabled>
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Degree:</label>
                            <input type="text" class="form-control" value="{{rp.user.memberprofile.degree}}" disabled>
                        </div>
                    </div>

                   <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-label">About me:</label>
                            <textarea rows="5" class="form-control"  disabled >{{rp.user.memberprofile.about_me}}</textarea>
                        </div>
                        <a href="{{rp.user.memberprofile.cv_file.url}}" class="btn btn-primary"><h6>Download CV</h6></a>
                    </div>
                    
                    
                    <div class="col-md-12 mt-4" style="overflow:auto;">
                        <table class="table table-hover table striped">
                            <thead class="text-dark" style="background-color:#ADD8E6">
                                <tr>
                                    <th>
                                        Badge
                                    </th>
                                    <th class="text-center">
                                        Score
                                    </th>
                                    
                                    
                                </tr>
                                
                            </thead>
                            
                            
                            <tbody class=" table-dark">
                                {% for i in badges %}
                            <tr>
                                <td>
                                     {{i.skills}}
                                </td>
                               
                                <td class="text-center">
                                    {{i.score}}
                                    
                                </td>
                            </tr>
                           
                            
                            {% empty %}
                            <h6>Not determined yet.</h6>
                            {% endfor %}
                                
                                
                                
                            </tbody>
                            
                            
                        </table>
                    </div>
                    
                    
                    <div class="row mx-auto">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 text-end ">
                            <button class="btn btn-success mx-auto"><a data-bs-toggle="modal" href="#InfoModal_accept" style="text-decoration:none;color:white">Accept</a></button>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 text-start">
                            <button class="btn btn-danger mx-auto"><a data-bs-toggle="modal" href="#InfoModal_reject"  style="text-decoration:none;color:white">Reject</a></button>
                        </div>
                        
                    </div>

                   <div class="col-md-12">
                       
                    <!----- Accept ----->
                    
                    <div class="modal fade"  id="InfoModal_accept" tabindex="-1" aria-labelledby="InfoModalLabel" aria-hidden="true" role="dialog">
                        <div class="modal-dialog" id="modalinfo" role="document">
                            <div class="modal-content">
                                <div class="modal-header modal-colored-header bg-secondary text-dark">
                                  <h5 class="modal-title text-dark" id="InfoModalLabel">Select applicant's position</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">&times</button>
                                  
                                </div>
                                <form method="POST">{% csrf_token %}
                                    <div class="modal-body text-dark">
                                        {% if rp.supervisor == True %}
                                        <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 form-check text-wrap word-wrap">
                                            <input class="form-check-input DsChk" id="Advisor" name="supervisor" type="checkbox" onclick="DisCheck()"/>
                                            <label class="form-check-label text-wrap" style="font-size:0.9em" for="supervisor">Advisor</label>
                                        </div>
                                        {% endif %}
                                        {% if rp.mentor == True %}
                                        <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 form-check text-wrap word-wrap">
                                            <input class="form-check-input DsChk" id="Mentor" name="mentor" type="checkbox" onclick="DisCheck()"/>
                                            <label class="form-check-label text-wrap" style="font-size:0.9em" for="mentor">Mentor</label>
                                        </div>
                                         {% endif %}
                                         {% if rp.member == True %}
                                        <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 form-check text-wrap word-wrap">
                                            <input class="form-check-input DsChk" id="Member" name="member" type="checkbox" onclick="DisCheck()"/>
                                            <label class="form-check-label text-wrap" style="font-size:0.9em" for="member">Member</label>
                                        </div>
                                        {% endif %}
                                        {% if rp.learner == True %}
                                        <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 form-check text-wrap word-wrap">
                                            <input class="form-check-input DsChk" id="Learner" name="learner" type="checkbox" onclick="DisCheck()"/>
                                            <label class="form-check-label text-wrap" style="font-size:0.9em" for="learner">Learner</label>
                                        </div>
                                         {% endif %}
                                        

                                        <div class="form-group col-md-12 mb-0">
                                            <div id="div_id_status" class="form-group">
                                                <input type="hidden" name="status" id="id_status" value="accept" >
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row px-5">
                                        <p id="selectedRole" class="text-dark"></p>
                                        
                                    </div>

                                    
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Accept</button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    
                    <!----- Reject --- -->
                    <div class="modal fade"  id="InfoModal_reject" tabindex="-1" aria-labelledby="InfoModalLabel" aria-hidden="true" role="dialog">
                        <div class="modal-dialog modal-lg" id="modalinfo" role="document">
                            <div class="modal-content">
                                <form method="POST">{% csrf_token %}
                                    <div class="modal-body text-dark">
                                        <input type="hidden" name="status" id="id_status" value="rejected" >
                                        <div class="form-group col-md-12 mb-0">
                                            <label>Rejection reason <span style="color: red">*</span></label>
                                            <textarea class="form-control" rows='4' name="reason_for_rejection" required></textarea>
                                        </div>
                                    </div>
                                    <div class="row px-5">
                                        <p id="selectedRole" class="text-dark"></p>
                                        
                                    </div>

                                    
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Reject</button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>

        
                </div>
            </div>
        </main>
        </div>
    </div>
</section>


{% endblock content %}


{% block script %}

<script>
     $( document ).ready( function() {
       
         
     });
    
  function DisCheck(){
      let people_checkboxes = document.querySelectorAll('input[type=checkbox].DsChk'); 
      
      var allCheckboxes = document.querySelectorAll('input[type=checkbox]');
    for (var i = 0; i < people_checkboxes.length; i++) {
        if(people_checkboxes[i].checked){
            people_checkboxes[i].disabled=false; 
            document.getElementById("selectedRole").innerHTML =people_checkboxes[i].id + "<i class='fa fa-times-circle px-2' onclick='deleteRole()'></i>";
        }else{
           people_checkboxes[i].disabled=true; 
        }
        
    }
      
      
      
      
      
      
  } 
    
  function deleteRole(){
       document.getElementById("selectedRole").innerHTML="";
       let people_checkboxes = document.querySelectorAll('input[type=checkbox].DsChk');
    for (var i = 0; i < people_checkboxes.length; i++) {
        people_checkboxes[i].disabled=false; 
        people_checkboxes[i].checked = false;
        
    }
       
      
  } 
    
</script>

{% if user|is_member_profile and user.memberprofile.is_technical_manager %}

{% if selected_project.expert is None and not project_areas %}
<script>
    $('[data-toggle="tooltip"]').tooltip();
</script>
{% endif %}

<script>
    function restore_accept_modal() {
            $('input[type=radio][name=accept-reason-method]').each((index, input) => {
                input.checked = false;
            })

            $('input[type=checkbox][name=accept-reason]').each((index, input) => {
                input.checked = false;
            })

            $('.acceptTemplate').addClass('d-none')
            $('.acceptManual').addClass('d-none')
    }

    function restore_reject_modal() {
            $('input[type=radio][name=reject-reason-method]').each((index, input) => {
                input.checked = false;
            })

            $('input[type=checkbox][name=reject-reason]').each((index, input) => {
                input.checked = false;
            })

            // for area
            $('.rejectTemplate').addClass('d-none');
            $('.rejectManual').addClass('d-none');
    }

    $('.btn-accept-area').on('click', (event) => {
        $('#acceptAreaModal').modal({
          show:true,
          closeOnEscape: true
        });

        restore_accept_modal();

        const clicked_on_tick_icon = $(event.target).hasClass('fa-check');
        if (clicked_on_tick_icon) {
            var area_pk = $(event.target).parent().attr('area-pk');
        }
        else {
            var area_pk = $(event.target).attr('area-pk');
        }

        $('input[name$="accept-area"]').val(area_pk);
    });

    $('.btn-accept-project-area').on('click', (event) => {
        $('#acceptProjectAreaModal').modal({
          show:true,
          closeOnEscape: true
        });

        restore_accept_modal();

        const clicked_on_tick_icon = $(event.target).hasClass('fa-check');
        if (clicked_on_tick_icon) {
            var area_pk = $(event.target).parent().attr('area-pk');
        }
        else {
            var area_pk = $(event.target).attr('area-pk');
        }
        $('input[name$="accept-project-area"]').val(area_pk);
    });

    $('.btn-reject-project-area').on('click', (event) => {
        $('#rejectProjectAreaModal').modal({
          show:true,
          closeOnEscape: true
        });

        restore_reject_modal();

        const clicked_on_tick_icon = $(event.target).hasClass('fa-times');
        if (clicked_on_tick_icon) {
            var area_pk = $(event.target).parent().attr('area-pk');
        }
        else {
            var area_pk = $(event.target).attr('area-pk');
        }

        $('input[name$="reject-project-area"]').val(area_pk);
    });

    $('.btn-reject-area').on('click', (event) => {
        $('#rejectAreaModal').modal({
          show:true,
          closeOnEscape: true
        });

        restore_reject_modal();

        const clicked_on_tick_icon = $(event.target).hasClass('fa-times');
        if (clicked_on_tick_icon) {
            var area_pk = $(event.target).parent().attr('area-pk');
        }
        else {
            var area_pk = $(event.target).attr('area-pk');
        }

        console.log(area_pk);

        $('input[name$="reject-area"]').val(area_pk);
    });

    $('input[type=radio][name=reject-reason-method]').change(function() {
        if (this.value === "From Template") {
            $('.rejectTemplate').removeClass('d-none')
            $('.rejectManual').addClass('d-none')
        }
        else {
            $('.rejectTemplate').addClass('d-none')
            $('.rejectManual').removeClass('d-none')
        }
    });

    $('input[type=radio][name=accept-reason-method]').change(function() {
        if (this.value === "From Template") {
            $('.acceptTemplate').removeClass('d-none')
            $('.acceptManual').addClass('d-none')
        }
        else {
            $('.acceptTemplate').addClass('d-none')
            $('.acceptManual').removeClass('d-none')
        }
    });

    $('.submit-reject-area-template').on('click', (event) => {
        event.preventDefault();
        $('input[type=checkbox][name=reject-reason]').each((index, input) => {
            if (input.checked) {
                $('#reject-area-form').submit();
            }
        });
    })

    $('.submit-accept-area-template').on('click', (event) => {
        event.preventDefault();
        $('input[type=checkbox][name=accept-reason]').each((index, input) => {
            if (input.checked) {
                $('#accept-area-form').submit();
            }
        });
    })

    $('.submit-accept-project-area-template').on('click', (event) => {
        event.preventDefault();
        $('input[type=checkbox][name=accept-project-area-reason]').each((index, input) => {
            if (input.checked) {
                $('#accept-project-area-form').submit();
            }
        });
    })

    $('.submit-reject-project-area-template').on('click', (event) => {
        event.preventDefault();
        $('input[type=checkbox][name=reject-project-area-reason]').each((index, input) => {
            if (input.checked) {
                $('#reject-project-area-form').submit();
            }
        });
    })
</script>
{% endif %}

{% if user|is_member_profile and user.memberprofile.is_technical_manager or user == selected_project.expert %}
<script>
    $( document ).ready( function() {
        const errorMessage = "This field is required";

        $( this ).find( "textarea" ).on( "input change propertychange", function() {

            const hasError = !/.*\S+.*/.test($(this).val());
            if ( typeof this.setCustomValidity === "function")
            {
                this.setCustomValidity( hasError ? errorMessage : "" );
            }
            else
            {
                $( this ).toggleClass( "error", !!hasError );
                $( this ).toggleClass( "ok", !hasError );

                if ( hasError )
                {
                    $( this ).attr( "title", errorMessage );
                }
                else
                {
                    $( this ).removeAttr( "title" );
                }
            }

        });
    });

    function restore_add_modal() {
            $('input[type=radio][name=add-reason-method]').each((index, input) => {
                input.checked = false;
            })

            $('input[type=checkbox][name=add-reason]').each((index, input) => {
                input.checked = false;
            })

            $('#addFromTemplate').addClass('d-none')
            $('#addManually').addClass('d-none')
    }

    function restore_remove_modal() {
            $('input[type=radio][name=remove-reason-method]').each((index, input) => {
                input.checked = false;
            })

            $('input[type=checkbox][name=remove-reason]').each((index, input) => {
                input.checked = false;
            })

            $('#removeFromTemplate').addClass('d-none')
            $('#removeManually').addClass('d-none')
    }

    const manuallyAddAreaBtn = $('#btn-add-manually');
    const selectAddAreaBtn = $('#btn-add-select');

    manuallyAddAreaBtn.on('click', (event) => {
        event.preventDefault();
        if (manuallyAddAreaBtn.get(0).form.reportValidity()) {
            const entered_value = $('#input-add-manually').val();
            $('#addAreaModal').modal({
              show:true,
              closeOnEscape: true
            });

            restore_add_modal();

            $('input[name$="add-industrial-area"]').val(entered_value);
        }
        else {
            manuallyAddAreaBtn.get(0).form.checkValidity();
        }
    });

    selectAddAreaBtn.on('click', (event) => {
        event.preventDefault();
        const entered_value = $('#select-add').val();
        $('#addAreaModal').modal({
          show:true,
          closeOnEscape: true
        });

        restore_add_modal();

        $('input[name$="add-industrial-area"]').val(entered_value);
    });

    $('input[type=radio][name=add-reason-method]').change(function() {
        if (this.value === "From Template") {
            $('#addFromTemplate').removeClass('d-none')
            $('#addManually').addClass('d-none')
        }
        else {
            $('#addFromTemplate').addClass('d-none')
            $('#addManually').removeClass('d-none')
        }
    });

    $('.btn-remove-area').on('click', (event) => {
        $('#removeAreaModal').modal({
          show:true,
          closeOnEscape: true
        });

        restore_remove_modal();

        const clicked_on_tick_icon = $(event.target).hasClass('fa-times');
        if (clicked_on_tick_icon) {
            var area_pk = $(event.target).parent().attr('area-pk');
        }
        else {
            var area_pk = $(event.target).attr('area-pk');
        }

        $('input[name$="remove-area"]').val(area_pk);
    });

    $('input[type=radio][name=remove-reason-method]').change(function() {
        if (this.value === "From Template") {
            $('#removeFromTemplate').removeClass('d-none')
            $('#removeManually').addClass('d-none')
        }
        else {
            $('#removeFromTemplate').addClass('d-none')
            $('#removeManually').removeClass('d-none')
        }
    });

    $('.submit-remove-area-template').on('click', (event) => {
        event.preventDefault();
        $('input[type=checkbox][name=remove-reason]').each((index, input) => {
            if (input.checked) {
                $('#remove-area-form').submit();
            }
        });
    });

    $('.submit-add-area-template').on('click', (event) => {
        event.preventDefault();
        $('input[type=checkbox][name=add-reason]').each((index, input) => {
            if (input.checked) {
                $('#add-area-form').submit();
            }
        });
    });
</script>
{% endif %}

{% endblock script %}