{% extends 'base.html' %}
{% load static %}
{% block main %}
<style>
  body {
    background: #e2e1e0;
  }
  .selected_box{
    border: 1px solid #17a2b8;
    margin: 5px;
    border-radius: 10px;
    padding: 5px;
    width: 200px;
  }
  

  </style>

<div class="m-auto col-md-11">
  
  <div  style="padding:25px" class="m-auto filtering card card-1">
    <form method='POST'>
      {%csrf_token%}
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Recent history</th>
            <th scope="col">User</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <select name="section-date" class="form-control" type="checkbox">
                <option value="last-day">Last day</option>
                <option value="last-week">Last week</option>
                <option value="last-month">Last month</option>
              </select> 
              <button type="button" class="m-2 btn btn-info" data-toggle="modal" data-target="#custom_time">Custom date</button>
              <span class="start_date" style="display:none" >From:</span>
              <span class="end_date" style="display:none" >Until:</span>
            </td>
          
            
            <td>
              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#show_users">Select users</button>
              <ul id="user_list" style="display:none" class="user_list"></ul>
            </td> 
          </tr>
          <tr>
          </tr>
        </tbody>
      </table>
     
                   <!-- Show users -->
                   <div class="modal fade" id="show_users" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Select users</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <input style="top:5px" class="form-control col-md-10 m-auto" type="text" id="susers" placeholder="Type somthings...">
                        <div id="modal-body-users" class="modal-body">
                          {%for u in users%}
                          <li>
                            <input title="{{u.get_full_name}}" class="user_id" id="{{u.id}}" name="users"type="checkbox">
                            <label>{{u.get_full_name}}</label></br>
                            <span style="font-size:10px;position:relative;top:-20px">{{u.email}}</span>
                          </li>
                          {%endfor%}
                          <input value=0 id="users_list" name="user_list" type="hidden">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Save</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- CustomTime -->
                  <div class="modal fade" id="custom_time" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Choose your time period</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div style="overflow-y:visible;height:155px" class="modal-body">
                          <label for="start-date">From
                          <input value="" id="start_date" class="form-control" type="datetime-local" name="start_date">
                          <label for="end-date">Until
                          <input id="end_date" class="form-control" type="datetime-local" name="end_date">
                        </div>
                        <div class="modal-footer">
                          <button id="cancel" type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                          <button id="save_time" type="button" class="btn btn-secondary" data-dismiss="modal">Save</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  
        <button type="submit" class="btn btn-danger">Report</button>
    </form>
    <form method="POST" action="{% url 'accounting:reporting-exel' %}">
      {%csrf_token%}
      <input id="exel_ids" type="hidden" name="ids" >
  
      <button style="margin-top:-40px;float: right;" type="submit" id="exell_download" class="btn btn-warning">Create exel<i class="fa-solid fas fa-file-excel"></i></button>
    </form>
  </div>
  

<!--result-->
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Total amount</th>
      <th>Total reject</th>
      <th>Total discount</th>
      <th>Total receipt</th>
    </tr>
  </thead>
  <tbody  style="background:#dc3545;color: #fff;">
    <td class="total_amount">$</td>
    <td class="total_reject">$</td>
    <td class="total_discount">$</td>
    <td class="total_receipt">$</td>
  </tbody>
</table>





  <!--Datatables-->
  <table id="example" class="table table-striped table-bordered" style="width:100%">
      <thead class="thead-dark">
          <tr>
              <th>ID number</th>
              <th>Date</th>
              <th>Country</th>
              <th>Amount</th>
              <th>Gsp</th>
              <th>Pst</th>
          </tr>
      </thead>
      <tbody>
          {%for invoice in invoices%}
            <tr>
              <td class="i-id" value="{{invoice.id}}">{{invoice.id_pay}}</td>
              <td>{{invoice.success_date}}</td>
              <td>{{invoice.country}}</td>
              <td>{{invoice.amount}}</td>
              <td>{{invoice.gsp}}</td>
              <td>{{invoice.pst}}</td>
            </tr>
          {%endfor%}
      </tboady>
    </table>

 


</div>

<script>
$(document).ready(function() {


//--------------------------------------------------------------------------------------
//search in input                                                                     //                                                                                                                                                                    //
                                                                                      //  
  $("#susers").on("keyup", function() {                                               //
    var value = $(this).val().toLowerCase();                                          //
    $("#modal-body-users li").filter(function() {                                     //
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)                //
    });                                                                               //
  });                                                                                 //
//--------------------------------------------------------------------------------------


$('.user_id').click(function(){let users_list=add_to_list('.user_id');$('#users_list').val(users_list);title_add_to_list('.user_id','user_list');})
$(document).ready(function() {$('#example').DataTable();});
$('.total_amount').html('$'+total_amount)
$('.total_reject').html('$'+total_reject)
$('.total_discount').html('$'+total_discount)
$('.total_receipt').html('$'+total_receipt)

$('#save_time').click(function(){
  $('.start_date').html('From:'+document.getElementById("start_date").value);
  $('.end_date').html('Until:'+document.getElementById("end_date").value);
  $('.start_date').css('display','block')
  $('.end_date').css('display','block')
})
$('#cancel').click(function(){
document.getElementById("start_date").value=''
document.getElementById("end_date").value=''
$('.start_date').css('display','none')
$('.end_date').css('display','none')

})

var invoice_ids = $(".i-id").map(function() {
  return $(this).attr('value');
}).get();
$('#exel_ids').val(invoice_ids)


})


var amount = $(".amount");
let total_amount=0
for (var obj of amount) {
  total_amount=total_amount + parseInt($(obj).attr('value'))

  }
var reject = $(".reject");
let total_reject=0
for (var obj of reject) {
  total_reject=total_reject + parseInt($(obj).attr('value'))

  }
var discount = $(".discount");
let total_discount=0
for (var obj of discount) {
  total_discount=total_discount + Math.abs(parseInt($(obj).attr('value')))

  }
let total_receipt=total_amount - total_discount + total_reject

function add_to_list(target){
  let ids=document.querySelectorAll('input[type=checkbox]'+target+':checked');
  let list_ids=[]
  for(let i=ids.length-1;i>=0;i--){
    list_ids.push(ids[i].id)
}
  return list_ids
}

function title_add_to_list(target,classname){ 
  let ids=document.querySelectorAll('input[type=checkbox]'+target+':checked');
  let titles=''
  $('.'+classname).html('')
  for(let i=ids.length-1;i>=0;i--){
    titles+='<li>'+ids[i].title+'</li>'
  $('.'+classname).html(titles)
  }
  if(ids.length == 0){
    $('.'+classname).css('display','none')
    $('#'+classname).css('display','none')
  }
  else{
    $('.'+classname).css('display','block')
    $('#'+classname).css('display','block')

  }
}

function check_checkboxes(element,inputid){
  if($(element)[0].checked == true){
    $(inputid).val('1')
  }
  else{
    $(inputid).val('0')
  }
}
</script>
{% endblock %}
