{% extends "dashboard/base.html" %}
{% load static %}
{% load humanize %}
{% block body_class %}gray-container{% endblock body_class%}
{% block content %}
{% load crispy_forms_tags %}
{% load dashboard_filter %}

{% block css %}
<link rel="stylesheet" href="{% static '/dashboard/css/researchtheme.css' %}">

{% endblock %}

<header id="main-header" class="py-2 bg-color6 text-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1><i class="fas fa-file-signature"></i>Contract </h1>
            </div>
        </div>
    </div>
</header>

<section id="industry-director">
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                <div class="alert alert-success"> {{ message }}</div>
                {% else %}
                <div class="alert alert-danger"> {{ message }}</div>
                {%endif %}
            {% endfor %}
        {% endif %}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 mt-3 text-center">

                <div class="card-page">
                    <div class="row justify-content-center align-items-center">
                <!-- 1 -->
                {% if request.GET.filter == "new-contract" %}
                <div class="col gold ">
                    <a href="" class="text-center text-white">
                        <i class="fa fa-check-circle"></i>
                        <h4 class="text-white titlestyle">New contract</h4>
                        <p class="number ">{{contract_new_count}}</p>
                    </a>
                </div>
                {% else %}
                <div class="col gold ">
                    <a href="?filter=new-contract" class="text-center text-white">
                        <i class="fa fa-check-circle"></i>
                        <h4 class="text-white titlestyle">New contract</h4>
                        <p class="number ">{{contract_new_count}}</p>
                    </a>
                </div>
                {% endif %}
                
                <!-- 2 -->
                {% if request.GET.filter == "revised-contract" %}
                <div class="col gold ">
                    <a href="" class="text-center text-white">
                        <i class="fa fa-check-circle"></i>
                        <h4 class="text-white titlestyle"> Revised contract</h4>
                        <p class="number ">{{contract_revised_count}}</p>
                    </a>
                </div>
                {% else %}
                <div class="col gold ">
                    <a href="?filter=revised-contract" class="text-center text-white">
                        <i class="fa fa-check-circle"></i>
                        <h4 class="text-white titlestyle"> Revised contract</h4>
                        <p class="number ">{{contract_revised_count}}</p>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>


            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-2">
                <div class="wrapper wrapper-content animated fadeInUp">
                    <div class="">
                        <div class=" mb-5" style="overflow-x:auto;">
                            {% if request.GET.filter == "new-contract" %}
                            <table class="table table-dark table-hover table-striped p-table">
                                <thead>
                                <tr>
                                    <th>Project ID</th>
                                    <th>Title</th>
                                    <th>Fund</th>
                                    <th>Submission date</th>
                                    <th>Suggested start date</th>
                                    <th>Suggested end date</th>
                                    <!--<th>Owner</th>-->
                                    <th>Deadline</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for project in contract_new %}
                                    <tr>
                                        <td class="p-name">
                                            <p style="overflow: hidden; width: 150px">{{project.id_project}}
                                        </td>
                                        <td class="p-name">
                                            <p style="overflow: hidden; width: 200px">{{project.title|truncatechars:50}}</p>
                                        </td>
                                        <td class="p-name">
                                            ${{project.fund}}
                                        </td>
                                        <td class="p-name">
                                            {{project.created|date:'m-d-Y'}}
                                        </td>
                                        <td class="p-name">
                                            {{project.start_date}}
                                        </td>
                                        <td class="p-name">
                                            {{project.end_date}}
                                        </td>
                                        <td class="p-name">
                                            {{project.deadline }}
                                        </td>
                                        <td class="p-name">
                                            Pending for your decision
                                        </td>
                                        <!--<td class="p-name">
                                            {{project.client_form.formclint.user.get_full_name}}
                                        </td>-->
                                         <td class="text-right">
                                             <a href="{% url 'industry:client-detail' project.pk %}" class="btn btn-primary btn-xs mb-1">
                                                 <i class="fa fa-eye"></i> View
                                             </a>
                                         </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% endif %}

                          {% if request.GET.filter == "revised-contract" %}
                            <table class="table table-hover table-dark table-striped p-table">
                                <thead>
                                <tr>
                                    <th>Project ID</th>
                                    <th>Title</th>
                                    <th>Fund</th>
                                    <th>Submission date</th>
                                    <th>Suggested start date</th>
                                    <th>Suggested end date</th>
                                    <!--<th>Owner</th>-->
                                    <th>Deadline</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for project in contract_revised %}
                                    <tr>
                                        <td class="p-name">
                                            <p style="overflow: hidden; width: 150px">{{project.id_project}}
                                        </td>
                                        <td class="p-name">
                                            <p style="overflow: hidden; width: 200px">{{project.title|truncatechars:50}}</p>
                                        </td>
                                        <td class="p-name">
                                            ${{project.fund}}
                                        </td>
                                        <td class="p-name">
                                            {{project.created|date:'m-d-Y'}}
                                        </td>
                                        <td class="p-name">
                                            {{project.start_date}}
                                        </td>
                                        <td class="p-name">
                                            {{project.end_date}}
                                        </td>
                                        <td class="p-name">
                                            {{project.deadline }}
                                        </td>
                                        <td class="p-name">
                                            Revised the contract and pending for you decision
                                        </td>
                                        <!--<td class="p-name">
                                            {{project.client_form.formclint.user.get_full_name}}
                                        </td>-->
                                         <td class="text-right">
                                             <a href="{% url 'industry:client-detail' project.pk %}" class="btn btn-primary btn-xs mb-1">
                                                 <i class="fa fa-eye"></i> View
                                             </a>
                                         </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                          {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}

{% block script %}
{% endblock script %}
