{% extends "dashboard/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">

{% block css %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'workshop/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'workshop/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'workshop/css/workshop.css' %}">
    <title>Document</title>
{% endblock css %}

{% block content %}


    <header class="bg-primary text-white py-2 w-100">
        <div class="container">
            <h1 class="px-4"><i class="far fa-edit"></i> <span> Video List</span></h1>
        </div>
    </header>
    <div>
        <div class="col-12 mt-3 text-center">
            <a href="{% url 'video-create' %}" class="btn btn-outline-dark">
                Create Video
            </a>
            <a href="{% url 'video-ceate-category' %}" class="btn btn-outline-dark">
                Create Category
            </a>
        </div>
    </div>
    <div class="container mt-2">
        {% if messages %}
            {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <div class="alert alert-success"> {{ message }}</div>
                    {% else %}
                        <div class="alert alert-danger"> {{ message }}</div>
                    {%endif %}
            {% endfor %}
        {% endif %}
    </div>
    <div>
        <div class="mt-5 w-100 d-flex justify-content-center main-ws">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="col-1">#</th>
                        <th class="col-2">Picture</th>
                        <th class="col-2">Title</th>
                        <th class="col-4">description</th>
                        <th class="col-3">Category</th>
                        <th class="col-2">Date</th>
                        <th class="col-2">Author</th>
                        <th class="col-1">Status</th>
                        <th class="col-1">is top</th>
                    </tr>
                </thead>
                <tbody>
                {% for video in videos %}
                    <tr>
                        <th class="col-1">{{i}}</th>
                        <td class="col-2"><img src="{{video.image.url}}" style="width: 80px; height: 80px;"></td>
                        <td class="col-2">
                            {% if video.status in 'bd'|make_list or author.is_super_author %}
                                <a href="{% url 'video-update' video.pk %}">{{video.title}}</a>
                            {% else %}
                                {{video.title}}
                            {% endif %}
                        </td>
                        <td class="col-3">{{video.description|truncatewords:10|safe}}</td>
                        <td class="col-3">{{video.category_to_str}}</td>
                        <td class="col-2">{{video.created.date}}</td>
                        <td class="col-2">{{video.user.get_full_name}}</td>
                        <td class="col-1">
                            {% if video.status == 'p' %}
                                <span class="badge badge-success">Published</span>
                                <a target="_blank" class="badge badge-primary" href="{% url 'video-detail' video.pk %}">Show</a>
                            {% elif video.status == 'i' %}
                                <span class="badge badge-primary">Investigation</span>
                                {% if video.author.is_super_author %}
                                <a target="_blank" class="badge badge-secondary" href="#">Preview</a>
                                {% endif %}
                            {% else %}
                                {% if video.status == 'd' %}
                                    <span class="badge badge-danger">Draft</span>
                                {% else %}
                                    <span class="badge badge-warning">Back</span>
                                {% endif %}
                                <a target="_blank" class="badge badge-secondary" href="#">Preview</a>
                            {% endif %}
                            {% if author.is_super_author %}
                            <a class="badge text-danger" href="{% url 'video-delete' video.pk %}">Delete</a>
                            {% endif %}
                        </td>
                        <td class="col-2">
                            {% if video.is_top == True %}
                              <i class="fa fa-check-circle" style="color: green;"></i>
                            {% else %}
                              <i class="fa fa-minus-circle" style="color: red;"></i>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div style="display: inline; margin-left: 240px;">
            {% if video.has_previous %}
                <a class="btn btn-primary" href="?page={{video.previous_page_number}}">Previous</a>
            {% endif %}
            {% if video.has_next %}
                <a class="btn btn-primary" href="?page={{video.next_page_number}}">Next</a>
            {% endif %}
        </div>
    </div>


    <script src="{% static 'workshop/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'workshop/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'workshop/js/workshop.js' %}"></script>
    <script src="{% static 'workshop/js/myjs.js' %}"></script>

{% endblock content %}