{% extends "dashboard/base.html" %}
{% load static %}
{% block body_class %}gray-container{% endblock body_class%}
{% block content %}
{% load crispy_forms_tags %}
{% load dashboard_filter %}

{% block css %}
<link rel="stylesheet" href="{% static 'dashboard/css/step.css' %}">
<link rel="stylesheet" href="{% static '/dashboard/css/researchtheme.css' %}">

{% endblock %}

<header id="main-header" class="py-2 bg-color6 text-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1><i class="fa fa-eye"></i> Project detail</h1>
            </div>
        </div>
    </div>

  <!--reject Modal -->
  

</header>
<section id="project-view">
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <div class="alert alert-success"> {{ message }}</div>
                    {% else %}
                        <div class="alert alert-danger"> {{ message }}</div>
                    {%endif %}
            {% endfor %}
        {% endif %}
    </div>
    {% if user == selected_project.expert and not selected_project.expert_is_accepted %}
    <div class="container">
        <div class="row text-center mt-4 mx-auto">
            <div class="col-12 my-2">
                <h3>Do you accept to be a {% if selected_project.project_type == "Industrial" %}corresponding{% else %}project{% endif %} expert in this project?</h3>
                <button class="btn btn-success" onclick="$('#acceptProjectConfirmationModal').modal({show:true,closeOnEscape: true});">
                    <i class="fa fa-check"></i> Yes
                </button>
                <button class="btn btn-danger" onclick="$('#expertRejectProjectModal').modal({show:true,closeOnEscape: true});">
                    <i class="fa fa-times"></i> No
                </button>
            </div>
        </div>
    </div>
    {% elif selected_project.project_type == "Industrial" and not selected_project.is_valid %}
    <div class="container padding-bottom-3x mt-3">
        <div class="card">
          <div class="card-body">
            <div class="steps d-flex flex-wrap flex-sm-nowrap justify-content-between padding-top-2x padding-bottom-1x">
              <div class="step {% if selected_project.step >= 0 %}completed{% endif %}">
                <div class="step-icon-wrap">
                  <div class="step-icon"><i class="fa fa-plus"></i></div>
                </div>
                <h4 class="step-title">Project is defined</h4>
              </div>
              <div class="step {% if selected_project.step >= 1 %}completed{% endif %}">
                <div class="step-icon-wrap">
                  <div class="step-icon"><i class="fa fa-user-tie"></i></div>
                </div>
                <h4 class="step-title">Corresponding expert is selected</h4>
              </div>
              <div class="step {% if selected_project.step >= 2 %}completed{% endif %}">
                <div class="step-icon-wrap">
                  <div class="step-icon"><i class="fa fa-users"></i></div>
                </div>
                <h4 class="step-title">Experts are selected</h4>
              </div>
              <div class="step {% if selected_project.step >= 3 %}completed{% endif %}">
                <div class="step-icon-wrap">
                  <div class="step-icon"><i class="fa fa-scroll"></i></div>
                </div>
                <h4 class="step-title">Report of evaluation sent to the technical manager</h4>
              </div>
              <div class="step">
                <div class="step-icon-wrap">
                  <div class="step-icon"><i class="fa fa-star"></i></div>
                </div>
                <h4 class="step-title">Project state is new</h4>
              </div>
            </div>
          </div>
        </div>
    </div>
    {% endif %}

    <div class="container">
        <div class="row">
            {% if selected_project.is_valid %}
                {% if user == selected_project.owner or user == selected_project.main_supervisor %}
                <div class="col-md-3 my-1">
                        <a href="{% url 'dashboard-edit-project-page' project_pk=selected_project.pk%}" class="btn btn-primary btn-xs mt-1"><i class="fa fa-pencil"></i> Edit </a>
                </div>
                {% endif %}
            {% endif %}
        </div>

        <h2 style="overflow: hidden">{{selected_project.title}}</h2>
       
        <!-- new -->
        <main class="container-fluid  ">
            <div class="content my-4">
                <div class="row px-4 py-2">
                    <div class="col-md-12">
                        <h2 style="overflow: hidden">{{selected_project.title}}</h2>
        
                        <!-- fund -->
                        {% if selected_project.fund > 0 %}
                        <div class="form-group ">
                            <div class="form-control">
                                ${{selected_project.fund}}
                            </div>
                        </div>
                        {% endif %}
        <!-- *** -->
                        
                        {% if selected_project.status == 'Rejected' %}
                        <tr>         
                            <p><span class="badge badge-danger">Reason of rejection</span>
                                {{selected_project.reject_reason}}
                            </p>
                        </tr>
                        {% endif %}
        <!-- *** -->
                        {% if project_areas %}
                        <tr>
                            <p><span class="text-info bold">Project Areas:</span>
                                {% for project_area in project_areas %}
                                <span class="badge
                                {% if project_area.is_confirmed %}
                                    {% if project_area.area.confirmed %}
                                    badge-success
                                    {% else %}
                                    badge-danger
                                    {% endif %}
                                {% else %}
                                    badge-warning
                                {% endif %}
                                ">{{project_area.area}}</span>
                                {% endfor %}
                            </p>
                        </tr>
                        {% endif %}
                            
                    </div>
                </div>
                <div class="row px-4 py-2">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label">Title</label>
                                <textarea class="form-control" rows="2" disabled>{{object.client_form.formclint.title}}</textarea>
                            </div>
                        </div>
                    </div>
                    
                <div class="row px-4 py-2">
                     <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">ID</label>
                            <div class="form-control">
                                {{object.client_form.formclint.id_project}}
                            </div>
                        </div>
                    </div>

                    
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label class="form-label">Rejected date</label>
                            <input type="text" class="form-control" value="{{object.client_form.formclint.rejected_date|date:'M-d-Y'}}" disabled>
                        </div>
                    </div>
                 </div>
                     
                <div class="row px-4 py-2">
                    <div class="col-md-4">
                        <div class="form-group ">
                            <label class="form-label">Submission date</label>
                            <input type="text" class="form-control" value="{{object.client_form.formclint.created|date:'M-d-Y'}}" disabled>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group ">
                            <label class="form-label">  Suggested start date</label>
                            <input type="text" class="form-control" value="{{object.client_form.formclint.start_date}}" disabled>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group ">
                            <label class="form-label"> Suggested end date</label>
                            <input type="text" class="form-control" value=" {{object.client_form.formclint.end_date}}" disabled>
                        </div>
                    </div>
                      </div>
                      
                <div class="row px-4 py-2">
                            <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Fund</label>
                            <input type="text" class="form-control" value="${{object.client_form.formclint.fund}}" disabled>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label class="form-label">Dataset link</label>
                            <div class="form-control">
                                {% if object.client_form.formclint.data_set_link %}
                                <a href="{{object.client_form.formclint.data_set_link}}">Click</a>
                                {% else %}
                                <h6>There is no link</h6>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                       </div>
                       
                <div class="row px-4 py-2">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-label">Abstract</label>
                            <textarea class="form-control" rows="5" disabled>{{object.client_form.formclint.abstrack}}</textarea>
                        </div>
                    </div>
                </div>
                        
                <div class="row px-4 py-2">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Equipment</label>
                            <textarea class="form-control" rows="5" disabled>{{object.client_form.formclint.equipment}}</textarea>
                        </div>
                    </div>
                   
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Requirement</label>
                            <textarea class="form-control" rows="5" disabled>{{object.client_form.formclint.requirement}}</textarea>
                        </div>
                    </div>
                </div>
                <div class="row px-4 py-2">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-label">Rejection reason</label>
                            <textarea class="form-control" rows="5" disabled>{{object.reason_reject}}</textarea>
                        </div>
                    </div>
                </div>
                    
                <div class="col-md-6">
                        <a href="{% url 'industry:industry-supervisor-rejects-list' %}" class="btn btn-warning">Back</a>
                        
                        <button type="button" data-bs-toggle="modal"
                            data-bs-target="#delete_project" class="btn btn-danger">
                            Delete
                        </button>
                    </div>
            </div>
        
                <!-- Delete -->
                <div class="modal fade" id="delete_project" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form method="POST" id="delform" enctype="multipart/form-data">{% csrf_token %}
                                <div class="modal-body">
                                    <div style="padding-left: 8px; padding-right: 8px;" class="form-row">
                                        <h6 class="text-dark">Are you sure to delete the project?</h6>
                                        <input type="hidden" name="delete">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="yesBtn" class="btn btn-danger">Yes</button>
                                    <button type="button" id="delClsBtn" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            
        </main>        
    </div>
</section>


{% endblock content %}

{% block script %}

<script>
$(document).ready(function(){
    $('#delete_project').modal({backdrop: 'static', keyboard: false}); 
     document.getElementById("yesBtn").addEventListener("click",function(){
            document.getElementById('delform').submit();
            document.getElementById('yesBtn').disabled = true;  
            document.getElementById('delClsBtn').disabled = true;  
           
           
            
          
        });
    
});
    
    
    
</script>


{% endblock script %}

