a {
    text-decoration:none;
}

.banner_top {
    max-height: 400px;
    width: 100%;
}

.ws-nav-link{
    color:#000;
}


.carousel-indicators {
     display:none !important 
} 

.carousel-inner {
    width: 100%;
    height: 300px;
    /*background-image: url('../img/background_banner.png');*/
    background-color: #00262b;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner_top .carousel-item .col-md-6 img {
    position: relative;
    top: 2rem;
    left: 1rem;
}

.banner_top .carousel-item .col-md-6 .custom_btn {
    width: 125px;
    height: 45px;
    background: rgba(253, 186, 18, 0.9);
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.5s;
}

.banner_top .carousel-item .col-md-6 .custom_btn:hover {
    background: rgba(238, 174, 63, 0.9);
    transform: scale(1.05);
}

.carousel-indicators > button {
    box-sizing: border-box !important;
    width: 15px !important;
    height: 15px !important;
    border-top: none !important;
    border-bottom: none !important;
    border-radius: 50%;
}


.back-link > a {
    font-weight: bold;
    font-size: 18px;
    color: rgba(12, 28, 111, 0.5);
    transition: 0.3s;
}

.back-link > i {
    color: rgba(0, 0, 0, 0.7);
}

.back-link > a.active {
    font-weight: bold;
    color: #0C1C6F;
}

.back-link > a:hover {
    color: #0C1C6F;
}


/* side bar */
.wrapper {
    position: relative;
}

.content {
    margin-top: 1rem;
    width: calc(100% - 400px);
    height: max-content;
    transition: all 0.3s;

}

/* content */

.content.show {
    transform: translateX(-20%);
}

.content.show .item {
    width: 100%;
}

.content .item {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 225px;
    max-width: 90%;
    background: white;
    border-radius: 15px;
    transition: all 0.2s;
}


.content .item.active {
    cursor: pointer;
    filter: drop-shadow(1px 2px 11px rgba(0, 0, 0, 0.4));
}

.content .item:hover{
    filter: drop-shadow(1px 2px 4px rgba(0, 0, 0, 0.8));
    transform:scale(0.97);
}

.content .item .workshop_img {
    max-width: 250px;
    height: 200px;
    box-sizing: border-box;
    border-radius: 12px;
    width: 200px;
}

.content > .item .discount {
    display: none;

}

.content > .item.active .discount {
    display: block;
    position: absolute;
    right: -15px;
    top: -9px;
}

.content .item .text {
    font-weight: bold;
    text-align: justify;
    margin-left: 0.5rem;
    width:100%;
}

.content .item .icon\&btn .icon img {
    width: 25px;
    height: 25px;
}

.content .item .icon\&btn .icon span {
    font-size: 14px;
    font-weight: initial;
}

.content .item .btn > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 35px;
    font-weight: bold;
    color: white;
    transition: all 0.3s;
}

.content .item .btn .view {
    background: linear-gradient(89.5deg, #1E95E9 26.09%, rgba(63, 155, 184, 0.354688) 136.41%);
    border-radius: 12px;
}

.content .item .btn .view:hover,
.content .item .btn .buy:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.19);
}

.content .item .btn .buy {
    background: linear-gradient(161.16deg, #F6AF33 42.06%, rgba(231, 191, 114, 0) 166.56%);
    border-radius: 12px;
}

/* Pagination*/


.pagination ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #ffffff;
    padding: 8px;
    border-radius: 50px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
}

.pagination ul li {
    color: #186ACB;
    list-style: none;
    line-height: 45px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
}

.pagination ul li.numb {
    list-style: none;
    height: 45px;
    width: 45px;
    margin: 0 3px;
    line-height: 45px;
    border-radius: 50%;
}

.pagination ul li.numb.first {
    margin: 0px 3px 0 -5px;
}

.pagination ul li.numb.last {
    margin: 0px -5px 0 3px;
}

.pagination ul li.dots {
    font-size: 22px;
    cursor: default;
}

.pagination ul li.btn {
    padding: 0 20px;
    border-radius: 50px;
}

.pagination li.active,
.pagination ul li.numb:hover,
.pagination ul li:first-child:hover,
.pagination ul li:last-child:hover {
    color: #fff;
    background: #186ACB;
}


/* sidebar */

.sidebar_filter {
    margin-top: 1rem;
    width: 400px;
    transition: all 0.3s;
}

.sidebar_filter.show {
    transform: translateX(-150%);

}

.sidebar_filter .item {
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
    width: 90%;
}

.sidebar_filter .item > a {
    cursor: pointer;
}

.sidebar_filter .item > a.main {
    font-weight: initial;
    color: rgba(0, 0, 0, 0.8);
    transition: all 0.3s;
    font-size: 18px;
    margin-left: 1rem;
}

.sidebar_filter .item > a.main:hover {
    color: rgba(151, 71, 255, 0.7);
}

.sidebar_filter .item > a > i {
    font-size: 32px;
    transition: all 0.3s;
}


.sidebar_filter .item > a > i.active {
    color: rgba(151, 71, 255, 0.7);
    transform: rotateZ(-180deg);
}

.sidebar_filter .item ul li {
    font-size: 16px;
    font-weight: normal;
}

.unstyled , .style_right {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: none;
    transition: all 0.5s;
}

.unstyled.active ,
.style_right.active {
    display: block !important;
}

.centered {
    width: 300px;
    margin: auto;
}

.unstyled > li ,
.style_right > li {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.styled-checkbox {
    position: absolute;
    opacity: 0;
}

.styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}

.styled-checkbox + label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 25px;
    height: 25px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 4px;
}

.styled-checkbox:hover + label:before {
    background: #9747FF;
}

.styled-checkbox:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.styled-checkbox:checked + label:before {
    background: #9747FF;
}

.styled-checkbox:disabled + label {
    color: #b8b8b8;
    cursor: auto;
}

.styled-checkbox:disabled + label:before {
    box-shadow: none;
    background: #ddd;
}

.styled-checkbox:checked + label:after {
    content: "";
    position: absolute;
    left: 6px;
    top: 10px;
    color: #fff;
    width: 14px;
    height: 8px;
    border-bottom: solid 2px currentColor;
    border-left: solid 2px currentColor;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.unstyled.date input {
    border: none !important;
    outline: none;

}

/* right sidebar */

.sidebar_bg{
    background: rgba(0, 0, 0, 0.44);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    display: none;
}

.sidebar_bg.active{
    display: block;
}
.sidebar_right {
    background: #ffffff;
    height: 100vh;
    width: 250px;
    position: absolute;
    left: 0;
}

.sidebar_right .clos {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: white;
    right: -5rem;
    top: 2rem;
    transition: all 0.5s;
}
.sidebar_right .clos:hover > i {
    transform: scale(1.2);
}
.sidebar_right .clos > i {
    font-size: 32px;
    color: rgba(151, 71, 255, 0.6);
}

.sidebar_right .filters{
    margin-top: 2rem;
}
.sidebar_right .filters .item{
    width: 100%;
    padding: 0.5rem 0 0.5rem 2rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
.sidebar_right .filters .item input{
    width: 90%;
}
.sidebar_right .filters .item i{
    font-size: 32px;
    transition: all 0.2s;
}
.sidebar_right .filters .item .fa-angle-down.active {
    transform: rotateZ(-180deg);
}
.sidebar_right .filters .item > a{
    color: rgba(0, 0, 0, 0.6);
    font-weight: normal;
    font-size: 16px;
}
.sidebar_right .filters .item > a:hover{
    color: rgba(151, 71, 255, 0.6);
}

@media only screen and (max-width: 600px) {
    .content {
        width: calc(100% - 120px);
    }


    img.discount {
        display: none !important;
    }
}

@media only screen and (max-width: 480px) {
    .content {
        width: calc(100% - 150px);
        zoom: 90%;
    }

    .content .item .workshop_img {
        margin-left: 0;
    }

    .content .item .text h5,
    .content .item .text p {
        width: 90%;
        padding-left: 1rem;
    }
}

@media only screen and (max-width: 380px) {
    .content {
        zoom: 80%;
    }

}

@media only screen and (max-width: 769px) {

   /* .container-fluid {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }*/

    .carousel-item .col-md-6 {
        padding: 2rem;
        position: relative;
        top: 2rem;
    }

    .carousel-item .col-md-6 img {
        display: none;
    }

    .content {
        width: 100%;
    }

    .sidebar_filter {
        display: none;
    }

    .content.show {
        transform: translateX(0);
    }

    .content .item {
        height: auto;
        max-width: none !important;
        width: auto;
        flex-direction: column;
        padding: 32px;
    }

    .content.show .item {
        width: auto;
    }

    .content .item .workshop_img {
        max-width: 75%;
        width: 75%;
    }

    .content .item .text p {
        font-weight: normal !important;
        font-size: 14px;
    }
}

@media only screen and (min-width: 769px) {
    .sidebar_filter {
        display: none;
    }

    .content.show {
        transform: translateX(0);
    }

    .content {
        width: 100%;
    }

    .content .item {
        flex-direction: initial;
        height: auto;
        max-width: 100%;
        padding: 16px;
        width:100%;
        border-bottom:2px solid #0000004a;
    }

    .content .item .text h5 {
        max-width: 70%;
        font-size: 16px;
    }

    .content .item .text p {
        font-weight: normal;
        font-size: 14px;
    }
}

@media only screen and (min-width: 1024px) {
    .sidebar_filter {
        display: block;
    }

    .content.show {
        transform: translateX(-20%);

    }

    .content.show .item{
        max-width: 120%;
        width: 120%;
    }


}
