{% extends "dashboard/base.html" %}
{% load static %}
{% block body_class %}project-container{% endblock body_class%}
{% block content %}
{% load crispy_forms_tags %}
{% load dashboard_filter %}

<header id="main-header" class="py-2 bg-success text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1><i class="fa fa-edit"></i> Proposal: {{selected_project.title}}</h1>
            </div>
        </div>
    </div>
</header>

<section id="proposal">
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <div class="alert alert-success"> {{ message }}</div>
                    {% else %}
                        <div class="alert alert-danger"> {{ message }}</div>
                    {%endif %}
            {% endfor %}
        {% endif %}
    </div>
    <div class="container">
    <div class="row">
            <div class="col-md-12 mt-4">
                <div class="wrapper wrapper-content animated fadeInUp">
                    <div class="ibox">
                        <div class="ibox-content">
                            {% if proposal %}
                            <div class="row mb-4">
                                <div class="col-lg-12 text-center">
                                    <a href="{{proposal.proposal_file.url}}" class="btn btn-success text-white"><i class="fa fa-eye"></i> View your proposal</a>
                                </div>
                            </div>
                            {% endif %}
                            {% if eligible_to_send_proposal %}
                            <div class="row mb-4">
                                <div class="col-lg-12">
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{form|crispy}}
                                        <button class="btn btn-success"><i class="fa fa-check"></i> Submit</button>
                                    </form>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
