
main {
    position: relative;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

.banner_top {
    max-height: 400px;
    width: 100%;
}

.carousel-inner {
    width: 100%;
    height: 400px;
    background-image: url('../img/background_banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner_top .carousel-item .col-md-6 img {
    position: relative;
    top: 2rem;
    left: 1rem;
}

.banner_top .carousel-item .col-md-6 .custom_btn {
    width: 125px;
    height: 45px;
    background: rgba(253, 186, 18, 0.9);
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.5s;
}

.banner_top .carousel-item .col-md-6 .custom_btn:hover {
    background: rgba(238, 174, 63, 0.9);
    transform: scale(1.05);
}

.carousel-indicators > button {
    box-sizing: border-box !important;
    width: 15px !important;
    height: 15px !important;
    border-top: none !important;
    border-bottom: none !important;
    border-radius: 50%;
}


.back-link > a {
    font-weight: normal;
    font-size: 16px;
    color: rgba(12, 28, 111, 0.5);
    transition: 0.3s;
}

.back-link > i {
    color: rgba(0, 0, 0, 0.7);
}

.back-link > a.active {
    font-weight: bold;
    color: #0C1C6F;
}

.back-link > a:hover {
    color: #0C1C6F;
}


/* side bar */
.wrapper {
    position: relative;
}

.content {
    margin-top: 1rem;
    width: calc(100% - 400px);
    height: max-content;
    transition: all 0.3s;

}

/* content */

.content.show {
    transform: translateX(-20%);
}

.content.show .item {
    width: 100%;
}

.content .item {
    margin-top: 0.5rem;
    margin-bottom: -0.5rem;
    height: 225px;
    max-width: 90%;
    background: white;
    border-radius: 15px;
    transition: all 0.2s;
}

.content .item:hover,
.content .item.active {
    cursor: pointer;
    filter: drop-shadow(1px 2px 11px rgba(0, 0, 0, 0.4));
}

.content .item .workshop_img {
    margin-left: 2rem;
    max-width: 250px;
    height: max-content;
    box-sizing: border-box;
    border-radius: 12px;
    width: 200px;
}

.content > .item .discount {
    display: none;

}

.content > .item.active .discount {
    display: block;
    position: absolute;
    right: -15px;
    top: -9px;
}

.content .item .text {
    font-weight: bold;
    text-align: justify;
    margin-left: 0.5rem;
    width: 100%;
}

.content .item .icon\&btn .icon img {
    width: 25px;
    height: 25px;
}

.content .item .icon\&btn .icon span {
    font-size: 14px;
    font-weight: initial;
}

.content .item .btn > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 35px;
    font-weight: bold;
    color: white;
    transition: all 0.3s;
}

.content .item .btn .view {
    background: linear-gradient(89.5deg, #1E95E9 26.09%, rgba(63, 155, 184, 0.354688) 136.41%);
    border-radius: 12px;
}

.content .item .btn .view:hover,
.content .item .btn .buy:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.19);
}

.content .item .btn .buy {
    background: linear-gradient(161.16deg, #F6AF33 42.06%, rgba(231, 191, 114, 0) 166.56%);
    border-radius: 12px;
}

/* Pagination*/


.pagination ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #ffffff;
    padding: 8px;
    border-radius: 50px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
}

.pagination ul li {
    color: #186ACB;
    list-style: none;
    line-height: 45px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
}

.pagination ul li.numb {
    list-style: none;
    height: 45px;
    width: 45px;
    margin: 0 3px;
    line-height: 45px;
    border-radius: 50%;
}

.pagination ul li.numb.first {
    margin: 0px 3px 0 -5px;
}

.pagination ul li.numb.last {
    margin: 0px -5px 0 3px;
}

.pagination ul li.dots {
    font-size: 22px;
    cursor: default;
}

.pagination ul li.btn {
    padding: 0 20px;
    border-radius: 50px;
}

.pagination li.active,
.pagination ul li.numb:hover,
.pagination ul li:first-child:hover,
.pagination ul li:last-child:hover {
    color: #fff;
    background: #186ACB;
}


/* sidebar */

.sidebar_filter {
    margin-top: 1rem;
    width: 400px;
    background-color: #ffffff;
    transition: all 0.3s;
}

.sidebar_filter.show {
    transform: translateX(-150%);

}

.sidebar_filter .item {
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
    width: 90%;
}

.sidebar_filter .item > a {
    cursor: pointer;
}

.sidebar_filter .item > a.main {
    font-weight: initial;
    color: rgba(0, 0, 0, 0.8);
    transition: all 0.3s;
    font-size: 18px;
    margin-left: 1rem;
}

.sidebar_filter .item > a.main:hover {
    color: rgba(151, 71, 255, 0.7);
}

.sidebar_filter .item > a > i {
    font-size: 32px;
    transition: all 0.3s;
}


.sidebar_filter .item > a > i.active {
    color: rgba(151, 71, 255, 0.7);
    transform: rotateZ(-180deg);
}

.sidebar_filter .item ul li {
    font-size: 16px;
    font-weight: normal;
}

.unstyled, .style_right {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: none;
    transition: all 0.5s;
}

.unstyled.active,
.style_right.active {
    display: block !important;
    padding-left: 1rem;
}

.centered {
    width: 300px;
    margin: auto;
}

.unstyled > li,
.style_right > li {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.styled-checkbox {
    position: absolute;
    opacity: 0;
}

.styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}

.styled-checkbox + label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 25px;
    height: 25px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 4px;
}

.styled-checkbox:hover + label:before {
    border: 2px solid rgba(0, 0, 0, 0.16);
    background: #9747FF;
}

.styled-checkbox:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.styled-checkbox:checked + label:before {
    background: #a362fa;
}

.styled-checkbox:disabled + label {
    color: #b8b8b8;
    cursor: auto;
}

.styled-checkbox:disabled + label:before {
    box-shadow: none;
    background: #ddd;
}

.styled-checkbox:checked + label:after {
    content: "";
    position: absolute;
    left: 6px;
    top: 6px;
    color: #fff;
    width: 14px;
    height: 8px;
    border-bottom: solid 2px currentColor;
    border-left: solid 2px currentColor;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.unstyled.date input {
    border: none !important;
    outline: none;

}

/* right sidebar */

.sidebar_bg {
    background: rgba(0, 0, 0, 0.44);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    display: none;
}

.sidebar_bg.active {
    display: block;
}

.sidebar_right {
    background: #ffffff;
    height: 100vh;
    width: 250px;
    position: absolute;
    left: 0;
}

.sidebar_right .clos {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: white;
    right: -5rem;
    top: 2rem;
    transition: all 0.5s;
}

.sidebar_right .clos:hover > i {
    transform: scale(1.2);
}

.sidebar_right .clos > i {
    font-size: 32px;
    color: rgba(151, 71, 255, 0.6);
}

.sidebar_right .filters {
    margin-top: 2rem;
}

.sidebar_right .filters .item {
    width: 100%;
    padding: 0.5rem 0 0.5rem 2rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.sidebar_right .filters .item input {
    width: 90%;
}

.sidebar_right .filters .item i {
    font-size: 32px;
    transition: all 0.2s;
}

.sidebar_right .filters .item .fa-angle-down.active {
    transform: rotateZ(-180deg);
}

.sidebar_right .filters .item > a {
    color: rgba(0, 0, 0, 0.6);
    font-weight: normal;
    font-size: 16px;
}

.sidebar_right .filters .item > a:hover {
    color: rgba(151, 71, 255, 0.6);
}


/***** project page *****/
.carousel-item h2 {
    font-size: 20px;
    width: 75%;
}

.peoples_attend img {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    transition: all 0.3s;
}


/**** forum page ****/
#forum .content .item {
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    transition: all 0.3s;
}

#forum .content .item:hover {
    cursor: pointer;
    filter: none;
    padding: 2rem;
}

#forum .create-topic:hover {
    color: white;
    font-weight: bold;
}

#forum .create-topic > i {
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

#forum .create-topic:hover > i {
    transform: rotate(90deg);
}

#forum .modal-body > div {
    margin-top: 1rem;
}

.multipleChosen, .multipleSelect2 {
    width: 300px;
}

/* select modal config */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOS4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9Ii00NzMgMjc3IDEyIDgiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgLTQ3MyAyNzcgMTIgODsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGw6IzhBOTNBNjt9DQo8L3N0eWxlPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTS00NzEuNiwyNzcuM2w0LjYsNC42bDQuNi00LjZsMS40LDEuNGwtNiw2bC02LTZMLTQ3MS42LDI3Ny4zeiIvPg0KPC9zdmc+DQo=) calc(100% - 18px) / 11px no-repeat;
}

.form-area {
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(90, 116, 148, 0.3);;
    padding: 40px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-area .form-inner {
    width: 100%;
}

.form-group {
    position: relative;
    margin-bottom: 30px;
}

.modal .form-control {
    display: block;
    width: 100%;
    height: auto;
    padding: 8px 19px;
    padding-top: 21px;
    min-height: 55px;
    font-size: 1rem;
    color: #475F7B;
    background-color: #FFF;
    border: 1px solid #DFE3E7;
    border-radius: .267rem;
    -webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

select.form-control {
    padding-top: 10px;
    transition: 0.15s;
}

.form-control:focus {
    color: #475F7B;
    background-color: #FFF;
    border-color: #5A8DEE;
    outline: 0;
    box-shadow: none;
}

.floating-label {
    font-size: 16px;
    font-weight: 400;
    color: #475F7B;
    opacity: 1;
    top: 16px;
    left: 20px;
    pointer-events: none;
    position: absolute;
    transition: 240ms;
    margin-bottom: 0;
    z-index: 1;
}

.floating-diff .floating-label {
    opacity: 0;
}

.floating-diff.focused .floating-label {
    opacity: 1;
}

.form-group.focused .floating-label {
    opacity: 1;
    color: #7b7f82;
    top: 4px;
    left: 19px;
    font-size: 12px;
}

.form-group.focused select.form-control {
    padding-top: 21px;
}

.float-checkradio {
    background-color: #FFF;
    border: 1px solid #DFE3E7;
    border-radius: .267rem;
    padding: 8px 19px;
    transition: 0.3s;
    min-height: 55px;
}

.float-checkradio.focused {
    padding-top: 21px;
}


/*--------select2-css----*/
.select2Part .floating-label {
    opacity: 0;
}

.select2Part.focused .floating-label {
    opacity: 1;
}

.select2multiple .floating-label {
    opacity: 1;
}

.select2Part.focused .select2-container--default .select2-selection--single .select2-selection__rendered {
    padding-top: 13px;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #DFE3E7;
    height: 55px;
}

.select2-container--focus.select2-container--default .select2-selection--single {
    border: 1px solid #5A8DEE;
    background-color: #fff;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px;
    transition: 240ms;
    padding-right: 40px;
    font-size: 16px;
    font-weight: 400;
    color: #475F7B;
    padding-top: 7px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 53px;
    right: 15px;
    transition: 240ms;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: rgb(236 238 241);
    color: #4a494a;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border: none;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOS4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9Ii00NzMgMjc3IDEyIDgiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgLTQ3MyAyNzcgMTIgODsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGw6IzhBOTNBNjt9DQo8L3N0eWxlPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTS00NzEuNiwyNzcuM2w0LjYsNC42bDQuNi00LjZsMS40LDEuNGwtNiw2bC02LTZMLTQ3MS42LDI3Ny4zeiIvPg0KPC9zdmc+DQo=') no-repeat 0 0;
    width: 12px;
    height: 8px;
    background-size: 100% 100%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #5A8DEE;
    color: #fff;
}

.select2-container--default .select2-results__option:last-child {
    border-radius: 0px 0px 4px 4px;
}

.select2-container--default .select2-selection--single {
    border-radius: .267rem;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 19px;

}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple,
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.select2-results__option {
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    color: #4F4F4F;
    font-size: 15px;
    font-weight: 400;
}

.select2-container--open .select2-dropdown--above {
    box-shadow: 0px 6px 32px rgb(0 0 0 / 10%);
    border-radius: 0px;
    border: none;
    top: 8px;
    border-radius: 6px;
    overflow: hidden;
}

.select2-container--open .select2-dropdown--below {
    box-shadow: 0px 2px 18px rgb(0 0 0 / 16%);
    border-radius: 0px;
    border: none;
    top: -8px;
    border-radius: 6px;
    overflow: hidden;
}

.select2Part.w-100 > .select2-container {
    width: 100% !important;
}

.select2-search--dropdown {
    padding: 12px 15px;
    position: relative;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    font-size: 14px;
    border: 1px solid #DFE3E7;
    border-radius: 4px;
    color: #757575;
    padding: 10px 15px;
    background-color: #fff;
    position: relative;
    padding-right: 45px;
}

.select2-container--default .select2-search--dropdown:after {
    content: "\f002";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    top: 23px;
    right: 30px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.54);
}

.select2-container--default .select2-selection--multiple {
    background-color: #fff;
    border: 1px solid #DFE3E7;
    min-height: 50px;
    border-radius: 6px;
    position: relative;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #5A8DEE;
    background-color: #fff;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    color: #757575;
    line-height: 55px;
    padding-right: 40px;
    display: block;
    height: 100%;
    padding-bottom: 7px;
    padding-top: 17px;
    padding-left: 17px;
    transition: 240ms;
}

.select2-container--default .select2-selection--multiple .select2-selection__arrow {
    height: 48px;
    right: 15px;
}

.select2-container--default .select2-selection--multiple .select2-search--inline .select2-search__field {
    line-height: initial;
    padding: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered:before {
    border: none;
    content: '';
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOS4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9Ii00NzMgMjc3IDEyIDgiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgLTQ3MyAyNzcgMTIgODsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGw6IzhBOTNBNjt9DQo8L3N0eWxlPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTS00NzEuNiwyNzcuM2w0LjYsNC42bDQuNi00LjZsMS40LDEuNGwtNiw2bC02LTZMLTQ3MS42LDI3Ny4zeiIvPg0KPC9zdmc+DQo=') no-repeat 0 0;
    width: 12px;
    height: 8px;
    background-size: 100% 100%;
    transform: translateY(-50%);
    position: absolute;
    right: 18px;
    top: 26px;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    list-style: none;
    line-height: initial;
    padding: 5px;
    font-size: 14px;
    position: relative;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    cursor: default;
    float: left;
    color: #1f1f1f;
    margin-right: 5px;
    margin-top: 5px;
    width: initial !important;
    padding: 5px 10px;
    padding-right: 24px !important;
    font-size: 13px !important;
    letter-spacing: 0.3px;
}

.select2-container--default .select2-search--inline .select2-search__field {
    width: 100% !important;
    font-size: 16px;
    margin-top: 0px;
    padding: 0;
    padding-left: 5px;
    line-height: 27px;
    padding-top: 6px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    position: absolute;
    font-size: 17px;
    width: 20px;
    height: 20px;
    top: 3px;
    text-align: center;
    color: #e45555;
    right: 0px;
}

.floating-group.focused .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding-bottom: 7px;
    padding-top: 17px;
    padding-left: 17px;
}


/***** forume_comment_page *****/
.real_comment p {
    font-size: 20px;
    max-width: 90%;
    margin: 0 auto;
}

.insert_comment {
    max-width: 90%;
    width: 90%;
}

.insert_comment button {
    background: #3F9BB8;
    border-radius: 12px;
    color: white;
    width: 125px;
    height: 40px;
    transition: all 0.3s;
}

.insert_comment button.reply {
    background: #1E95E9;
}

.insert_comment button:hover {
    transform: scale(0.95);
}

.comments {
    max-width: 90%;
    background: #FAFAFA;
    width: 90%;
    height: max-content;
    border-radius: 12px;
    border: 0.5px solid #000;
}


.comments .action > div {
    margin-left: 1rem;
    transition: all 0.3s;
}

.comments .action > div > img {
    width: 25px;
    height: 25px;
}

.comments .action > div:hover img {
    transform: scale(1.1);
    cursor: pointer;
}

.comments .info img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.comments .info .delete i {
    font-size: 18px;
    transition: all 0.3s;
}


/*rply */
.reply_info {
    font-size: 14px;
}

.comment-reply {
    max-width: 75%;
    background: #FAFAFA;
    width: 75%;
    height: max-content;
    border-radius: 12px;
    border: 0.5px solid #000;
}


/*** forum categories page ***/
.categories_card .card:hover {
    cursor: pointer;

}


.categories_card .card img {
    border-radius: 8px;
}


/*** forum sub categories page **/
.subcat_item .item:hover {
    padding: 1rem !important;
}


/* blogs page */

/* owl */
.top_article .owl-nav.disabled {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 64%;
}

.owl-carousel {
    position: relative
}

.top_article .owl-nav.disabled > button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #ffff;
    border: 0.5px solid #EEAE3F;
    box-sizing: border-box;
    overflow-y: hidden;
    transition: all 0.3s;
}

.top_article .owl-nav.disabled > button > span {
    font-size: 50px;
    position: relative;
    bottom: 23px;
}

.top_article .owl-nav.disabled > button:hover {
    background: linear-gradient(157.53deg, #EEAE3F -9.9%, rgba(228, 195, 129, 0.3) 147.5%);
    border: 0.5px solid #FFFFFF;
}

.card-top-article > img {
    border-radius: 12px;
}

.title .box {
    width: 100px;
    height: 25px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title .box.blue {
    color: #5793AB;
    background: #C9E7F3;
}

.title .box.red {
    background-color: #F9EAE7;
    color: #D47F6E;
}

.title .box.gold {
    background-color: #FAEDDB;
    color: #DBB978;

}


.card-top-article .desc {
    text-align: justify;
}

.border-btn > a {
    width: 100px !important;
    height: 35px !important;
    background: linear-gradient(157.09deg, #EEAE3F 42.52%, rgba(228, 195, 129, 0.31) 127.12%);
    border-radius: 7px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    transition: all 0.3s;
}

.border-btn > a:hover {
    transform: scale(0.95);
}


/*
    end owl
 */

/* Buttons Category */
.buttons-category > button {
    width: 150px;
    height: 50px;
    background: #FFFFFF;
    border: 0.2px solid #EEAE3F;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(204, 148, 40, 0.16);
    border-radius: 50px;
    font-weight: bold;
    margin: 0 8px 0 8px;
    transition: all 0.4s;
}

.buttons-category > button.active {
    background: linear-gradient(94.23deg, #EEAE3F 3.17%, rgba(228, 195, 129, 0.3) 190.75%);
    border: 0.2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(204, 148, 40, 0.29);
}


/*
    blog item
 */

.blog-items .col-md-6 {
    margin-top: 1rem;
}

.blog-item p {
    text-align: justify;
    width: 90%;
}

.blog-item img {
    border-radius: 12px;
    height: max-content;
    align-items: center;
}


/*** news and event ***/
.top-news {
    position: relative;
    height: auto;
}

.top-news .item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}


.top-news .it1{
    background-image: url("../img/background_banner.png");
}
.top-news .it2{
    background-image: url("../img/purge-webp-vincamai.png");
}
.top-news .it3{
    background-image: url("../img/blog/news-header.jpg");
}
.top-news .it4{
    background-image: url("../img/background_banner.png");
}


.top-news .shadow {
    background-color: rgba(0, 0, 0, 0.35);
    padding: 1rem;

}
.top-news .row .text {
    transition: all 0.3s;
}
.top-news .row  .text:hover{
    cursor: pointer;
    transform: scale(0.97);
}
.top-news .text p {
    color: #FFFFFF;
}


/**** filter news ***/

.filter_news input {
    outline: none;
    border: none;
}

.filter_news {
    width: 100%;
    max-height: 70px;
    border-top: 3px solid #000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    text-align: center;
    display: flex;
    align-items: center;
}

.filter_news .item {
    margin-left: 1rem;
}
.filter_news .item:hover {
    color:#0a58ca ;
    cursor: pointer;
}


.filter_news .item.active {
    width: 150px;
    margin-left: 2rem;
   padding: 1rem;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    z-index: 999;
    transform: scale(1.08);
    background-color: #f8f9fa;
    color: #0a58ca;
}

.filter_news .search {
    box-shadow: 0px 1px 3px rgba(90, 116, 148, 0.3);;
    padding: 0.7rem;
}

/***** single news ****/
#single_news .row .col-md-6 .content {
    width: 100%;
    height: auto;
}
#single_news .row .col-md-6 .content .author p{
    font-size: 18px;
    font-weight: bold;
}
#single_news .row .col-md-6 .content .author .social a{
    font-size: 24px;
    margin-right: 12px;
    color: rgba(54, 51, 51, 0.66);
}
#single_news .row .col-md-6 .content .author .social a:hover{
    color: black;
    transform: scale(1.5);
}
#single_news .row .col-md-6 .content .desc p {
    text-align: justify;
    font-size: 18px;
}

#single_news .row .col-md-6 .content .desc .categories span {
    text-align: justify;
    padding: 12px;
    border-radius: 12px;
    margin-top: 1rem;
}
#single_news .row .col-md-6 .content .desc .categories span.red{
    background: #e8a1c7;
    color: #b8079b;
    font-weight: bold;

}
#single_news .row .col-md-6 .content .desc .categories span.blue{
    background: #8eeebc;
    color: #098e6b;
    font-weight: bold;
}
#single_news .row .col-md-6 .content .desc .categories span.yellow{
    background: rgba(250, 214, 114, 0.84);
    color: #a85d01;
    font-weight: bold;
}
#single_news .row .col-md-6 .content .desc .img img{
    border-radius: 12px;
}

/* single_news related */
#single_news .related_news .item img {
    border-radius: 12px;
}
#single_news .related_news .item p {
    margin-top: 1rem;
    font-size: 16px;
    text-align: justify;
}
#single_news .related_news .item .btn{
    background: #7396AE;
    color: #FFFFFF;
    width: 150px;
    height: auto;
    transition: all 0.3s;
}
#single_news .related_news .item .btn:hover{
    transform: scale(1.1);
}




/***** single project ****/
#single_project .back-dark{
    background-image: url("../img/bla.png");
    background-position: center;
    background-size: cover;
    width: 101%;
}

#single_project .back-dark a,
#single_project .back-dark i {
    color: rgba(255, 255, 255, 0.68);
}
#single_project .back-dark a.active,
#single_project .back-dark h5
{
    color: white;
}

#single_project .grade .gold {
    background: #cdad27;
    display: block;
    border-radius: 8px;
    font-weight: bold;
    padding: 8px;
    text-align: center;
    width: 100px;

}
#single_project .grade .silver {
    background: #C0C0C0;
    display: block;
    border-radius: 8px;
    font-weight: bold;
    padding: 8px;
    text-align: center;
    width: 100px;

}
#single_project .grade .bronze {
    background: #CD7F32;
    display: block;
    border-radius: 8px;
    font-weight: bold;
    padding: 8px;
    text-align: center;
    width: 100px;

}

#single_project .grade i{
    color:#ffc720 ;
    font-size: 20px;

}

#single_project .back-dark .col-md-4{
    z-index: 98;
}
#single_project .back-white{
    background: #ffff;
}
#single_project .back-white h5 ,
#single_project .back-white p ,
#single_project .back-white span ,
#single_project .back-white i ,
#single_project .back-white a {
    color: black;
}

#single_project .back-white i {
    color: #5a058b;
}

#single_project .description .person img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 8px;
    margin-top: 6px;
}

#single_project .description .icon{
    font-size: 18px;
    font-weight: bold;
}

#single_project .description .button a {
    background: #ffc720;
    width: 90%;
    height: 50px;
    text-align: center;
}
#single_project .description .require i {
    margin-right: 8px;
}

#single_project .description p {
    text-align: justify;
}


/**** side detail ***/

#side_details {
    max-width: 450px;
    width: 100%;
    background-color: #FFFFFF;
    height: auto;
    position: absolute;
    right: 2rem;
    color: rebeccapurple;
    top: 8rem;
    z-index: 9999;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 12px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.19);

}


#side_details .img img{
    border-radius: 12px;
    max-height:300px;
    width:100%;
}

#side_details .but a {
    background-color: rebeccapurple;
    color: white;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

#side_details .but a:hover{
    background-color: #9b5fd7;
}

#side_details .desc .detail p {
    display: flex;
    justify-content: start;
    align-items: center;
}


#side_details .desc .more{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#side_details .desc .more .forum {
    font-size: 18px;
    color: #fff;
    background-color: #06b3d0;
    transition: all 0.3s;
}
#side_details .desc .more .forum:hover{
    background-color: #047d92;

}
#side_details .desc .more .video{
    font-size: 18px;
    color: #fff;
    background-color: #ffc720;
    transition: all 0.3s;

}
#side_details .desc .more .video:hover{
    background-color: #b88a06;
}


@media only screen and (min-width: 480px) {
    .content {
        width: calc(100% - 150px);
        zoom: 90%;
    }

    .content .item .workshop_img {
        margin-left: 0;
    }

    .content .item .text h5,
    .content .item .text p {
        width: 90%;
        padding-left: 1rem;
    }

    .categories_card .card {
        zoom: 70%;
    }

}

@media only screen and (min-width: 380px) {
    .content {
        zoom: 80%;
    }

    .categories_card .card {
        zoom: 60%;
    }

}

@media only screen and (min-width: 600px) {
    .content {
        width: calc(100% - 120px);
    }


    img.discount {
        display: none !important;
    }

    .categories_card .card {
        zoom: 80%;
    }

    .ag_buttons .sm_sidebar {
        display: block;
    }


}

@media only screen and (max-width: 769px) {

    .container-fluid {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .carousel-item .col-md-6 {
        padding: 2rem;
        position: relative;
        top: 2rem;
    }

    .carousel-item .col-md-6 img {
        display: none;
    }

    .content {
        width: 100%;
    }

    .sidebar_filter {
        display: none;
    }

    .content.show {
        transform: translateX(0);
    }

    .content .item {
        height: auto;
        max-width: none !important;
        width: auto;
        flex-direction: column;
        padding: 32px;
    }

    .content.show .item {
        width: auto;
    }

    .content .item .workshop_img {
        margin-left: 0;
        max-width: 95%;
    }

    .content .item .text p {
        font-weight: normal !important;
        font-size: 14px;
    }

    .peoples_attend img {
        margin-top: 12px;
    }

    .content .item .text h5 {
        font-size: 16px;
        margin-top: 1rem !important;
    }

}

@media only screen and (min-width: 769px) {
    .sidebar_filter {
        display: none;
    }

    .content.show {
        transform: translateX(0);
    }

    .content {
        width: 100%;
    }

    .content .item {
        flex-direction: initial;
        height: auto;
        max-width: 100%;
        padding: 16px;
        width: 100%;
    }

    .content .item .text h5 {
        max-width: 70%;
        font-size: 16px;
    }

    .content .item .text p {
        font-weight: normal;
        font-size: 14px;
    }

    .ag_buttons .sm_sidebar {
        display: block;
    }

    #blog .title .box {
        background-color: transparent;
    }

}

@media only screen and (min-width: 1025px) {
    .sidebar_filter {
        display: block;
    }

    .content.show {
        transform: translateX(-20%);

    }

    .ag_buttons .sm_sidebar {
        display: none;
    }


}


/**** back link ***/
.back-link a {
    color: rgba(0, 0, 0, 0.70);
}
.back-link a.active {
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
}
.back-link a:hover {
    color: rgba(0, 0, 0, 1);
}
.back-link .fa-angle-right {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.45);
}


