{% extends "request/base.html" %}
{% block content %}

<div class="container">
    <div class="row mt-5 pt-5">
        <div class="col-12">
            <h3 class="text-secondary">Supervisor request</h3>
            
            
            
        </div>
        
    </div>
    <hr class="mb-5">
    <div class="">
        <div class="row" id="expert-box">
            <div class="col-3"><h6>Applicant:</h6></div>
            <div class="col-9"><h6>{{obj_supervisor.user.get_full_name}}</h6></div>
        </div>
        <div class="row" id="view-box">
            <div class="col-3"><h6>Email:</h6></div>
            <div class="col-9"><h6>{{obj_supervisor.user.email}}</h6></div>
        </div>
        <div class="row" id="view-box">
            <div class="col-3"><h6>Submission date:</h6></div>
            <div class="col-9"><h6>{{obj_supervisor.created.date}}</h6></div>
        </div>
        <div class="row" id="view-box">
            <div class="col-3"><h6>Latest degree document:</h6></div>
            <div class="col-9"><a class="badge badge-primary" href="{{obj_supervisor.latest_degree.url}}" target="_blank">Download</a></div>
        </div>
        <div class="row" id="view-box">
            <div class="col-3"><h6>Identification card:</h6></div>
            <div class="col-9"><a class="badge badge-primary" href="{{obj_supervisor.identification.url}}" target="_blank">Download</a></div>
        </div>
        <div class="row" id="view-box">
            <div class="col-3"><h6>Recommendation letter:</h6></div>
            <div class="col-9"><a class="badge badge-primary" href="{{obj_supervisor.recommendation_letter.url}}" target="_blank">Download</a></div>
        </div>
        <div class="row" id="view-box">
            <div class="col-3"><h6>Job letter:</h6></div>
            <div class="col-9"><a class="badge badge-primary" href="{{obj_supervisor.valid_evidence.url}}" target="_blank">Download</a></div>
        </div>
        <div class="row" id="view-box">
            <div class="col-3"><h6>Latest resume:</h6></div>
            <div class="col-9"><a class="badge badge-primary" href="{{obj_supervisor.latest_resume.url}}" target="_blank">Download</a></div>
        </div>
        <div class="row" id="view-box">
            <div class="col-3"><h6>State of purpose(SOP):</h6></div>
            
        </div>
         <div class="row mb-3" >
             <div class="col-9"><textarea class="form-control" disabled rows="3">{{obj_supervisor.state_of_purpose}}</textarea></div>
         </div>


        <h5 class="table-warning p-3 mt-4" style="margin-top: 10px;">Assesment</h5>
        <div class="mb-3">
                <div class="row">
                    <div class="col-4">
                        <p class="mt-2 mr-5">Averaged score: {{obj_reviewer.score}}</p>
                    </div>
                    <div class="col-4">
                        
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#test1" id="testBtn">Subscores</button>
                        

                        <div class="modal fade" id="test1" tabindex="-1" aria-labelledby="test1Label" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="test1Label">Subscores</h5>
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row mb-0 py-0">
                                            <div class="col-9"><p>Related education/training (degree/certification, coursework):</p></div>
                                            <div class="col-3">{{obj_reviewer.score_1}}</div>
                                        </div>
                                    
                                    
                                        <div class="row mb-0 py-0">
                                            <div class="col-9"><p>Related experience (work history and patents/publications):</p></div>
                                            <div class="col-3">{{obj_reviewer.score_2}}</div>
                                        </div>
                                        
                                        <div class="row mb-0 py-0">
                                            <div class="col-9"> <p>Collaborative experience (teamwork, and international collaboration):</p></div>
                                            <div class="col-3">{{obj_reviewer.score_3}}</div>
                                        </div>
                                        
                                        <div class="row mb-0 py-0">
                                            <div class="col-9">  <p>Technical & Management skills (software skills and how much s/he is expert in each software?):</p></div>
                                            <div class="col-3">{{obj_reviewer.score_4}}</div>
                                        </div>
                                        
                                        <div class="row mb-0 py-0">
                                            <div class="col-9">  <p>Communication (clarity of ideas, direct answers, comprehension):</p></div>
                                            <div class="col-3">{{obj_reviewer.score_5}}</div>
                                        </div>
                                        
                                        <div class="row mb-0 py-0">
                                            <div class="col-9">  <p>Initiative skill:</p></div>
                                            <div class="col-3">{{obj_reviewer.score_6}}</div>
                                        </div>
                                        
                                        <div class="row mb-0 py-0">
                                            <div class="col-9">   <p>Innovative skill:</p></div>
                                            <div class="col-3">{{obj_reviewer.score_7}}</div>
                                        </div>
                                        
                                        <div class="row mb-0 py-0">
                                            <div class="col-9"> <p>Candidate interest (motivation and reason to apply for the job):</p></div>
                                            <div class="col-3">{{obj_reviewer.score_8}}</div>
                                        </div>
                                        
                                        <div class="row mb-0 py-0">
                                            <div class="col-9">  <p>Time management:</p></div>
                                            <div class="col-3">{{obj_reviewer.score_9}}</div>
                                        </div>
                                        
                                        <div class="row mb-0 py-0">
                                            <div class="col-9"> <p>Personal score of interviewer:</p></div>
                                            <div class="col-3">{{obj_reviewer.score_10}}</div>
                                        </div>
                                    
                                    
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                     
                </div>
                
                <br>
                <div class="row">
                <br>
               
        </div>


         
        <div class="row" id="view-box">
            <div class="col-3"><h6>Expert's comment:</h6></div>
            
        </div>
         <div class="row mb-3" >
             <div class="col-9"><textarea class="form-control" disabled rows="3">{{obj_supervisor.comment}}</textarea></div>
         </div>
        <div class="row" id="view-box">
            <div class="col-3"><h6>Reviewer's comment:</h6></div>
            
        </div>
         <div class="row mb-3" >
             <div class="col-9"><textarea class="form-control" disabled rows="3">{{obj_reviewer.comment}}</textarea></div>
         </div>
    </div>
        <div class="">
            <div class="">
                <button type="button" class="btn btn-primary" value="declined" data-bs-toggle="modal" data-bs-target="#accept">Accept</button>
                <button type="button" class="btn btn-danger" value="declined" data-bs-toggle="modal" data-bs-target="#reject">Reject</button>
                <button type="button" class="btn btn-warning" value="declined" data-bs-toggle="modal" data-bs-target="#revise">Revise</button>
            </div>
        </div>
    <!-- accepted -->
    <div class="modal fade text-black" style="color:black" id="accept" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form method="POST">{% csrf_token %}
                <div class="modal-content">
                    <div class="modal-body">
                        <input type="hidden" name="approve" id="id_approve" value="approve">
                        <h6>Are you sure to accept the request?</h6>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                        <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Yes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <!-- rejected -->
    <div class="modal fade text-black" style="color:black" id="reject" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form action="{% url 'request:workshop-reject' %}" id="rejform" method="POST">{% csrf_token %}
                <div class="modal-content">
                    <div class="modal-body">
                        <input type="hidden" name="id_request" value="{{obj_supervisor.pk}}">
                        <input type="hidden" name="position" value="manager">
                        <label>Revision reason<span style="color:red">*</span></label>
                        <textarea class="w-100 form-control" name="comment" id="rejcomment" required oninput="ClearErr('rejcomment')" style="width: 350px;"></textarea>
                        <div id="rejcomment_error" class="text-danger"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="rejclsBtn" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" id="rejBtn" class="btn btn-danger" >Reject</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <div class="modal fade text-black" style="color:black" id="revise" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form action="{% url 'request:workshop-revise' %}" id="revform" method="POST">{% csrf_token %}
                <div class="modal-content">
                    <div class="modal-body">
                        <input type="hidden" name="id_request" value="{{obj_supervisor.pk}}">
                        <input type="hidden" name="position" value="manager">
                        <label>Revision reason<span style="color:red">*</span></label>
                        <textarea class="w-100 form-control" name="comment" id="revcomment"  oninput="ClearErr('revcomment')" style="width: 350px;"></textarea>
                        <div id="revcomment_error" class="text-danger"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="revclsBtn" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button"  id="revBtn" class="btn btn-danger" >Revise</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
</div>



{% endblock %}

{% block js %}
<script>
    
 $(document).ready(function() {
    
    if(document.getElementById("decBtn")){
    document.getElementById("decBtn").addEventListener("click",function(){
              
        var declineReason=document.getElementById("id_reject_reason").value;
        if(declineReason.length==0){
            document.getElementById("id_reject_reason_error").innerHTML="Error: please enter the rejection reason."
        }else{
            document.getElementById('decform').submit();
            document.getElementById('decBtn').disabled = true;
             document.getElementById('clsBtn').disabled = true;
        }
          
    }); 
 }
    
    if( document.getElementById("revBtn")){
    document.getElementById("revBtn").addEventListener("click",function(){
              
        var revcomment=document.getElementById("revcomment").value;
        if(revcomment.length==0){
            document.getElementById("revcomment_error").innerHTML="Error: please enter the comment."
        }else{
            document.getElementById("revform").submit();
            document.getElementById('revBtn').disabled = true;
             document.getElementById('revclsBtn').disabled = true;
        }
          
    }); 
    }
    
    
    
    if( document.getElementById("rejBtn")){
    document.getElementById("rejBtn").addEventListener("click",function(){
              
        var rejcomment=document.getElementById("rejcomment").value;
        if(rejcomment.length==0){
            document.getElementById("rejcomment_error").innerHTML="Error: please enter the comment."
        }else{
            document.getElementById("rejform").submit();
            document.getElementById('rejBtn').disabled = true;
             document.getElementById('rejClsBtn').disabled = true;
        }
          
    }); 
    }
    
    
 })   
 
 
 
 function ClearErr(id){
    
     document.getElementById(id+"_error").innerHTML="";
    
}

</script>
{% endblock %}


