{% extends "request/base.html" %}
{% block css %}

<style>
    .dropdown {
  float: left;
  overflow: visible;
}

.dropdown .dropbtn {
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown .dropdown-content .dropbtn-rev {
  font-size: 17px;    
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content-rev {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content  a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content-rev  a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown:hover .dropbtn-rev {
  background-color: #555;
  color: white;
}


.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown-content-rev a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-content-rev {
  display: block;
}
    
</style>


{% endblock %}
{% block content %}

<div class="container">
    <div class="row mt-5 pt-5">
        <div class="col-12">
            <h3 class="text-secondary">Badge request</h3>
            
            
            
        </div>
        
    </div>
    <hr class="mb-5">
    {% if form.status == 'New' or form.status == 'decline-review-interview' %}
        <div class="">
            <div class="row" id="expert-box">
                <div class="col-3"><h6>Badge: </h6></div>
                <div class="col-9"><h6>{{form.skills}}</h6></div>
            </div>
            
            <div class="row" id="expert-box">
                <div class="col-3"><h6>Submission date:</h6></div>
                <div class="col-9"><h6>{{form.created.date}}</h6></div>
            </div>
            
            <div class="row" id="expert-box">
                <div class="col-3"><h6>Applicant:</h6></div>
                <div class="col-9"><h6>{{form.user.get_full_name}}</h6></div>
            </div>
            <div class="row" id="view-box">
                <div class="col-3"><h6>Email:</h6></div>
                <div class="col-9"><h6>{{form.user.email}}</h6></div>
            </div>
            <div class="row" id="view-box">
                <div class="col-3"><h6>Resume:</h6></div>
                <div class="col-9"><h6><a class="badge badge-primary" href="{{user_cv_file.url}}" target="_blank">Download</a></h6></div>
            </div>
            <div class="row" id="view-box">
                 {% if form.status == 'decline-review-interview' %}
                    {% for i in form.badge_request.all %}
                        {% if i.accept_reject == 'decline' %}
                            {% if i.status == 'reviewer' %}
                                <div class="col-3"><h6>Last Reviewer:</h6></div>
                                <div class="col-9"><h6>{{i.user.get_full_name}}</h6></div>
                            {% else  %}
                                <div class="col-3"><h6>Last Interviewer:</h6></div>
                                <div class="col-9"><h6>{{i.user.get_full_name}}</h6></div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            
            <div class="row mt-4 pl-1">
                <label class="mt-3">Select interviewer or reviewer bottom:<span style="color:red">*</span></label>
                {% if request.GET.filter == "interviewer" %}
                <a href="?filter=interviewer" class="btn btn-dark btn-sm text-white mx-2"> Interviewer</a>
                {% else %}
                <a href="?filter=interviewer" class="btn btn-sm mx-2" style="background-color:#e0ebeb"> Interviewer </a>
                {% endif %}
    
                {% if request.GET.filter == "reviewer" %}
                <a href="?filter=reviewer" class="btn btn-dark btn-sm  text-white mx-2" > Reviewer </a>
                {% else %}
                <a href="?filter=reviewer" class="btn btn-sm mx-2"  style="background-color:#e0ebeb"> Reviewer </a>
                {% endif %}
                
                
                
            </div>


            
            <form method="post"> {% csrf_token %}
                <div class="row mt-3 px-1" >
                    {% if request.GET.filter == "interviewer" %}
                    <div class="col-6 interviewer">
                    <label>Interviewer<span style="color:red">*</span></label>
                        <div class="select-user">
                            <select class="form-control" id="interviewerSel" name="interviewer" onchange="ClearErr('Div');">
                                <option value="0">-------</option>
                                {% for person in interviewer %}
                                <option value={{person.user.id}}>{{person.user.get_full_name}}</option>
                                {% endfor %}
                                <!-- <option value="interviewer">interviewer</option> -->
                                <!-- <option value="interviewer__1">interviewer__1</option> -->

                            </select>
                            <div id="reviewer_error" style="color:red"></div>
                        </div>
                    </div>
                    <input type="hidden" name="status" value="interview">
                    {% endif %}





                    {% if request.GET.filter == "reviewer" %}
                    <div class="col-6 reviewer">
                    <label>Reviewer<span style="color:red">*</span></label>
                        <div class="select-user">
                            <select class="form-control" id="reviewerSel" name="reviewer" onchange="ClearErr('Div');">
                                <option value="0">-------</option>
                                {% for person in reviewer %}
                                <option value={{person.user.id}}>{{person.user.get_full_name}}</option>
                                {% endfor %}
                                <!-- <option value="reviewer">reviewer</option> -->
                                <!-- <option value="reviewer__1">reviewer__1</option> -->
                            </select>
                        </div>
                    </div>
                    <input type="hidden" name="status" value="review">
                    {% endif %}
                </div>
                
                <div id="Div_error" style="color:red"></div>
                <div class="row mt-3 px-3">

                    
                    <button type="button" class="btn btn-success ml-1" value="declined" id="sndVBtn" >Select</button>
                    <button type="button" class="btn btn-danger ml-1" value="declined" data-bs-toggle="modal" data-bs-target="#reject-badge">Reject</button>


                    <div class="modal fade text-black" style="color:black" id="Send" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <h6>Are you sure to select the interviewer or reviewer?</h6>
                                </div>
                                
                                <div class="modal-footer">
                                    <button type="button" id="rejClsBtn" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                    <button type="submit" class="btn btn-success ml-1">Yes</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
        {% else %}
        <div class="">
            <div class="row" id="expert-box">
                <div class="col-3"> <h6>Applicant:</h6></div>
               <div class="col-9"><h6>{{form.user.get_full_name}}</h6></div>
                
            </div>
            <div class="row" id="view-box">
                <div class="col-3"><h6>Email:</h6></div>
                <div class="col-9"><h6>{{form.user.email}}</h6></div>
            </div>
            <div class="row" id="expert-box">
                <div class="col-3"> <h6>Badge:</h6></div>
               <div class="col-9"><h6>{{form.skills}}</h6></div>
                
            </div>

            {% if form.status == 'Reject' or form.status == 'revise_by_manager' %}
            <div class="row" id="expert-box">
                <div class="col-3"><h6>Status:</h6></div>
                <div class="col-9"><h6>Revised</h6></div>
            </div>
            <div class="row" id="expert-box">
                <div class="col-3"><h6>Revised date:</h6></div>
                <div class="col-9"><h6>{{form.revised_date}}</h6></div>
            </div>
            {% endif %}

            {% if form.status == 'Reject-badge-manager' or form.status == 'Reject-badge-expert' %}
            <div class="row" id="expert-box">
                <div class="col-3"> <h6>Status:</h6></div>
               <div class="col-9"><h6>Rejected</h6></div>
            </div>
             <div class="row" id="expert-box">
                <div class="col-3"><h6>Rejection date:</h6></div>
                <div class="col-9"><h6>{{form.rejected_date}}</h6></div>
            </div>
            <div class="row" id="expert-box">
                <div class="col-3"> <h6>Rejection reason:</h6></div>
               
            </div>
            <div class="row mb-2" id="expert-box">
                
               <div class="col-9"><textarea disabled class="form-control" rows="3">{{form.reason_reject}}</textarea></div>
            </div>
            {% endif %}


            <div class="row" id="expert-box">
                <div class="col-3"><h6>Submission date:</h6></div>
                <div class="col-9"><h6>{{form.created.date}}</h6></div>
            </div>

            <div class="row" id="view-box">
            {% for i in form.badge_request.all %}
                {% if i.accept_reject == 'new' or i.accept_reject == 'approve' %}
                    {% if i.status == 'reviewer' %}
                        <div class="col-3"><h6>Reviewer:</h6></div>
                        <div class="col-9"><h6>{{i.user.get_full_name}}</h6></div>
                        <div class="col-3"><h6>Reviewer's email:</h6></div>
                        <div class="col-9"><h6>{{i.user.email}}</h6></div>
                    {% else  %}
                        <div class="col-3"><h6>Interviewer:</h6></div>
                        <div class="col-9"><h6>{{i.user.get_full_name}}</h6></div>
                        <div class="col-3"><h6>Interviewer's email:</h6></div>
                        <div class="col-9"><h6>{{i.user.email}}</h6></div>
                    {% endif %}
                {% endif %}
            {% endfor %}
            </div>

            {% if form.status == 'Approve-decline' %}
            <div class="row" id="expert-box">
                <div class="col-3"><h6>Status:</h6></div>
                <div class="col-9"><h6>Pending for {{request_view.user.get_full_name}} to approve or decline the request.</h6></div>

            </div>
            {% elif form.status == 'Set-session' %}
            <div class="row" id="expert-box">
                <div class="col-3"><h6>Status:</h6></div>
                <div class="col-9"><h6>Pending for {{request_view.user.get_full_name}} to set the session the request.</h6></div>
            </div>
            {% elif form.status == 'Interview' %}
            <div class="row" id="expert-box">
                <div class="col-3"><h6>Interview Time:</h6></div>
                <div class="col-9"><h6>{{session_info.start_at}}</h6></div>
            </div>
            <div class="row" id="expert-box">
                <div class="col-3"><h6>Time zone:</h6></div>
                <div class="col-9"><h6>{{session_info.time_zone}}</h6></div>
            </div>
            <div class="row" id="expert-box">
                <div class="col-3"><h6>Interview link:</h6></div>
                <div class="col-9"><h6><a href="{{session_info.meeting_link}}" class="badge badge-primary" target="_blank">View</a></h6></div>
            </div>
            <div class="row" id="expert-box">
                <div class="col-3"><h6>Interview message:</h6></div>
                
            </div>
            <div class="row mb-2" id="expert-box">
               
                <div class="col-9"><textarea class="form-control" disabled rows="3">{{session_info.description}}</textarea></div>
            </div>
            {% elif form.status == 'Review' %}
            <div class="row" id="expert-box">
                <div class="col-3"><h6>Status:</h6></div>
                <div class="col-9"><h6>Pending for {{request_view.user.get_full_name}} to review the request.</h6></div>
            </div>
            {% elif form.status == 'Expert-view' or form.status == 'send_manager' or form.status == 'Reject' or form.status == 'revise_by_manager' %}
            <!--<div class="row" id="expert-box">-->
            <!--    {% if request_view.status == 'interviewer' %}-->
            <!--    <div class="col-3"><h6>Interviewer:</h6></div>-->
            <!--    <div class="col-9"><h6>{{request_view.user.get_full_name}}</h6></div>-->
            <!--    {% else %}-->
            <!--    <div class="col-3"><h6>Review by:</h6></div>-->
            <!--    <div class="col-9"><h6>{{request_view.user.get_full_name}}</h6></div>-->
            <!--    {% endif %}-->
            <!--</div>-->
            <div class="row">
                <div class="col-3"><h6>Averaged score:</h6></div>
                <div class="col-9"><h6>{{request_view.score}}</h6></div>
            </div>
            <div class="row">
                <div class="col-3"><h6>Subscores:</h6></div>
                <!--<div class="col-9"><a class="badge badge-primary" target="_blank" href="{{request_view.score_file.url}}">Download</a></div>-->
                <div class="col-9"><button class="btn btn-primary btn-sm mr-1" data-bs-toggle="modal" data-bs-target="#test1" id="testBtn">Subscores</button></div>
            </div>
            <div class="row" id="expert-box">
                <div class="col-3"><h6>Comment:</h6></div>
                
            </div>
            <div class="row mb-2" id="expert-box">
                
                <div class="col-9"><textarea class="form-control" disabled rows="3">{{request_view.comment}}</textarea></div>
            </div>
                {% if form.access_accept_reject == True %}
                <div class="row mt-3">
                    <div class="col-6 ">
                        <button type="button" class="btn btn-success" id="revBtn" data-bs-toggle="modal" data-bs-target="#accpet_expert">Accept</button>
                        <!--<a href="" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#reject">Revise</a>-->
                        <button type="button" class="btn btn-danger" id="revBtn" data-bs-toggle="modal" data-bs-target="#reject">Revise</button>
                        
                    </div>
                    
                </div>
                {% else %}
                    <a class="btn btn-warning " href="{% url 'request:expert' %}?filter=badge/interviewer/reviewer">Back</a>
                    {% if form.status == 'Expert-view' %}
                    <a href="" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#Send-to-manager">Send to the manager</a>
                    
                    <button type="button" class="btn btn-danger"  id="revBtn" data-bs-toggle="modal" data-bs-target="#reject">Revise</button>
                    {% endif %}
                {% endif %}
            {% elif form.status == 'Reject' or form.status == 'revise_by_manager' %}
            <div class="row" id="expert-box">
                <div class="col-3"><h6>Status:</h6></div>
                <div class="col-9"><h6>Pending for {{request_view.user.get_full_name}} to modify the evaluation</h6></div>
            </div>
            {% elif form.status == 'Accept' or form.status == 'Accept-manager' or form.status == 'Accept-expert' %}
            <div class="row" id="expert-box">
                <div class="col-3"><h6>Status:</h6></div>
                <div class="col-9"><h6>Accepted</h6></div>
            </div>
             <div class="row" id="expert-box">
                <div class="col-3"><h6>Accepted date:</h6></div>
                <div class="col-9"><h6>{{form.accepted_date}}</h6></div>
            </div>
            {% elif form.status == 'Reject' or form.status == 'Rejected-manager' or form.status == 'Rejected-expert' %}
            <div class="row" id="expert-box">
                <div class="col-3"><h6>Status:</h6></div>
                <div class="col-9"><h6>Rejected</h6></div>
            </div>
             <div class="row" id="expert-box">
                <div class="col-3"><h6>Rejection date:</h6></div>
                <div class="col-9"><h6>{{form.rejected_date}}</h6></div>
            </div>
            {% endif %}

            {% if form.status == 'Approve-decline' or form.status == 'Set-session' or form.status == 'Interview' or form.status == 'Review' or form.status == 'Accept-manager' or form.status == 'Accept' %}
            <a class="btn btn-warning mt-2" href="{% url 'request:expert' %}?filter=badge/interviewer/reviewer">Back</a>
            {% endif %}
        </div>
        {% endif %}
    
    
    
</div>

<div class="modal fade" id="test1" tabindex="-1" aria-labelledby="test1Label" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="test1Label">Subscores</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row mb-0 py-0">
                            <div class="col-9"><p>Related education/training (degree/certification, coursework):</p></div>
                            <div class="col-3">{{request_view.score_1}}</div>
                        </div>
                    
                    
                        <div class="row mb-0 py-0">
                            <div class="col-9"><p>Related experience (work history and patents/publications):</p></div>
                            <div class="col-3">{{request_view.score_2}}</div>
                        </div>
                        
                        <div class="row mb-0 py-0">
                            <div class="col-9"> <p>Collaborative experience (teamwork, and international collaboration):</p></div>
                            <div class="col-3">{{request_view.score_3}}</div>
                        </div>
                        
                        <div class="row mb-0 py-0">
                            <div class="col-9">  <p>Technical & Management skills (software skills and how much s/he is expert in each software?):</p></div>
                            <div class="col-3">{{request_view.score_4}}</div>
                        </div>
                        
                        <div class="row mb-0 py-0">
                            <div class="col-9">  <p>Communication (clarity of ideas, direct answers, comprehension):</p></div>
                            <div class="col-3">{{request_view.score_5}}</div>
                        </div>
                        
                        <div class="row mb-0 py-0">
                            <div class="col-9">  <p>Initiative skill:</p></div>
                            <div class="col-3">{{request_view.score_6}}</div>
                        </div>
                        
                        <div class="row mb-0 py-0">
                            <div class="col-9">   <p>Innovative skill:</p></div>
                            <div class="col-3">{{request_view.score_7}}</div>
                        </div>
                        
                        <div class="row mb-0 py-0">
                            <div class="col-9"> <p>Candidate interest (motivation and reason to apply for the job):</p></div>
                            <div class="col-3">{{request_view.score_8}}</div>
                        </div>
                        
                        <div class="row mb-0 py-0">
                            <div class="col-9">  <p>Time management:</p></div>
                            <div class="col-3">{{request_view.score_9}}</div>
                        </div>
                        
                        <div class="row mb-0 py-0">
                            <div class="col-9"> <p>Personal score of interviewer:</p></div>
                            <div class="col-3">{{request_view.score_10}}</div>
                        </div>
                    
                    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>



{% if request_view %}
<div class="modal fade text-black" style="color:black" id="accpet_expert" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form method="POST" id="sndform" action="{% url 'request:expert-accept-request' request_view.pk 'badge' %}">{% csrf_token %}
            <div class="modal-content">
                <div class="modal-body">
                    <h6>Are you sure to accept the badge score?</h6>
                </div>
                <div class="modal-footer">
                    <button type="button" id="clsBtn" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <button type="submit" id="sndBtn" class="btn btn-success" >Yes</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endif %}

<div class="modal fade text-black" style="color:black" id="Send-to-manager" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form method="POST" id="sndMform" action="{% url 'request:expert-badge-send-to-manager' form.pk %}">{% csrf_token %}
            <div class="modal-content">
                <div class="modal-body">
                    <label>Comment <span style="color:red">*</span></label>
                    <textarea class="w-100 form-control" name="comment_manager" id="comment_manager" required oninput="ClearErr('comment_manager')" style="width: 350px;"></textarea>
                    <div id="comment_manager_error" style="color:red"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="clsBtn" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="sndMBtn" class="btn btn-success" >Send</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade text-black" style="color:black" id="reject" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form method="POST" id="rejform" action="{% url 'request:manager-revise-badge' form.pk %}">{% csrf_token %}
            <div class="modal-content">
                <div class="modal-body">
                    <label>Revision reason<span style="color:red">*</span></label>
                    <textarea class="w-100 form-control" name="decline_reason" id="decline_reason" required oninput="ClearErr('decline_reason')" style="width: 350px;"></textarea>
                    <div id="decline_reason_error" class="text-danger"></div>
                    
                </div>
                
                <div class="modal-footer">
                    <button type="button" id="rejClsBtn" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="rejBtn" class="btn btn-danger" >Revise</button>
                </div>
            </div>
        </form>
    </div>
</div>


    
<!-- rejected -->
<div class="modal fade text-black" style="color:black" id="reject-badge" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="{% url 'request:expert-reject-badge' %}" method="POST">{% csrf_token %}
            <div class="modal-content">
                <div class="modal-body">
                    <input type="hidden" name="id_badge" value="{{form.pk}}">
                    <input type="hidden" name="position" value="expert">
                    <label>Revision reason<span style="color:red">*</span></label>
                    <textarea class="w-100 form-control" name="decline_reason" id="decline_reason" oninput="ClearErr('decline_reason')" style="width: 350px;"></textarea>
                    <div id="decline_reason_error" class="text-danger"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Reject</button>
                </div>
            </div>
        </form>
    </div>
</div>


<script>
var chkpar=false;
$(document).ready(function(){
    if(document.getElementById("sndVBtn")){
    document.getElementById("sndVBtn").addEventListener("click",function(){
        var statusM = false;
        var StatusN=true;
        var StatusP=true;
        if(document.getElementById("interviewerSel")){
            statusN = false;
            var interviewerSel = document.getElementById("interviewerSel").value;
            if(interviewerSel == "0"){
                statusM = true;
            }else{
                statusM = false;
            }
        }else{
            statusN = true;
        }
        if(document.getElementById("reviewerSel")){
            statusP = false;
            var reviewerSel = document.getElementById("reviewerSel").value;
            if(reviewerSel == "0"){
                statusM = true;
            }else{
                statusM = false;
            }
        }else{
            statusP = true;
        }
        
        if(statusN == false || statusP == false){
            
            if(statusM == false){
            
            $('#Send').modal({backdrop: 'static', keyboard: false})  
            $('#Send').modal('show');
            
            }else{
                document.getElementById("Div_error").innerHTML="Error: please select an option."
                
            }
            
            
        }else{
            document.getElementById("Div_error").innerHTML="Error: please select the interviewer or reviewer option."
        }
        
        
        
        
        
    });
    
    }
    
    
    
    
     $("#statussel").change(function () {
            const Value = $(this).val();
            if (Value == 1){
                $('.reviewer').removeClass('d-none');
                $('.interviewer').addClass('d-none');
                
            }
            else {
                $('.reviewer').addClass('d-none');
                 $('.interviewer').removeClass('d-none');
            };
        });

    if(document.getElementById("chngBtn")){
    document.getElementById("chngBtn").addEventListener("click",function(){
              
            var expertvalue=document.getElementById("statussel").value;
            var changeComment = document.getElementById("last_exp_comemnt").value;
            if(expertvalue=="0"){
                
                    document.getElementById("statussel_error").innerHTML="Error: please select an expert.";
            }else if(changeComment.length==0){
                    document.getElementById("last_exp_comemnt_error").innerHTML="Error: please enter the change reason.";
            }else{
                document.getElementById('chngform').submit();
                document.getElementById('chngBtn').disabled = true;
            }
          
        });
        
    }
    
    
    
     if(document.getElementById("sndMBtn")){
    document.getElementById("sndMBtn").addEventListener("click",function(){
              
            
            var changeComment = document.getElementById("comment_manager").value;
            
            if(changeComment.length==0){
                    document.getElementById("comment_manager_error").innerHTML="Error: please enter the comment.";
            }else{
                document.getElementById('sndMform').submit();
                document.getElementById('sndMBtn').disabled = true;
            }
          
        });
        
    }
    
    
    
    
    
    
    
    
    
    if(document.getElementById("rejBtn")){
        document.getElementById("rejBtn").addEventListener("click",function(){
            
            var rejComment = document.getElementById("decline_reason").value;
            if(rejComment.length==0){
                    document.getElementById("decline_reason_error").innerHTML="Error: please enter the revision reason.";
            }else{
                document.getElementById('rejform').submit();
                document.getElementById('rejBtn').disabled = true;
                document.getElementById('rejClsBtn').disabled = true;
            }
          
        });
    
    }
    
    
})


$(document).ready(function(){
     $("#statussel").change(function () {
            const Value = $(this).val();
            if (Value == 1){
                $('.reviewer').removeClass('d-none');
                $('.interviewer').addClass('d-none');
                
            }
            else {
                $('.reviewer').addClass('d-none');
                 $('.interviewer').removeClass('d-none');
            };
        });

    if(document.getElementById("subBtn")){
     document.getElementById("subBtn").addEventListener("click",function(){
            
            var status = document.getElementById("statussel").value;
            var interviewerSel = document.getElementById("interviewer").value;
            var reviewerSel = document.getElementById("reviewer").value;
            if(status=="0"){
                document.getElementById("statussel_error").innerHTML="Error: please select an option."
            }else if(status=="1" && reviewerSel=="0"){
                document.getElementById("reviewer_error").innerHTML="Error: please select an option."
            }else if(status=="2" && interviewerSel=="0"){
                document.getElementById("interviewer_error").innerHTML="Error: please select an option."
            }else{
            document.getElementById('NewForm').submit();
            document.getElementById("subBtn").disabled=true;
            }
          
        });
        
    }
    if(document.getElementById("sndBtn")){
        document.getElementById("sndBtn").addEventListener("click",function(){
            document.getElementById("sndBtn").disabled=true; 
            document.getElementById("clsBtn").disabled=true;
            document.getElementById("sndform").submit();
             
             
        });
    }
    
    
})

function ClearErr(id){
    
     document.getElementById(id+"_error").innerHTML="";
  
    
}




         
       








 /*   let reviewer = document.querySelector('.reviewer');
    let interviewer = document.querySelector('.interviewer')
  

    function show(skill) {
        reviewer.classList.add('d-none')
        interviewer.classList.add('d-none')
        document.querySelector('.textBox').value = skill
        if (skill == "reviewer"){
            reviewer.classList.remove('d-none')
        }
        else{
            interviewer.classList.remove('d-none')
        }
    }

    reviewer.onclick = function(){
        reviewer.classList.toggle('active')
    }

    interviewer.onclick = function(){
        interviewer.classList.toggle('active')
    }*/

  /*  dropdown.onclick = function(){
        dropdown.classList.toggle('active')
    }*/
</script>
{% endblock %}